<div id="wrapper">
  <ul
    class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion"
    id="accordionSidebar"
  >
    <a
      class="sidebar-brand d-flex align-items-center justify-content-center"
      href="index.html"
    >
      <div class="sidebar-brand-text mx-3">Dashboard<sup>admin</sup></div>
    </a>

    <hr class="sidebar-divider" />

    <div class="sidebar-heading">
      Administrador
    </div>

    <!-- Componentes admin -->

    <li class="nav-item" >
      <a class="nav-link" [routerLink]="['/dashboard/admin/gestionArticulos']" (click)="mostrarTrue()">
        <i class="fas fa-fw fa-pizza-slice"></i>
        <span>Pizzas</span></a
      >
    </li>
    <li class="nav-item" >
      <a class="nav-link" [routerLink]="['/dashboard/admin/gestionStock']" (click)="mostrarTrue()">
        <i class="fas fa-fw fa-clipboard"></i>
        <span>Stock</span></a
      >
    </li>

    <li class="nav-item" >
      <a class="nav-link" [routerLink]="['/dashboard/admin/gestionEmpleados']" (click)="mostrarTrue()">
        <i class="fas fa-user"></i>
        <span>Usuarios</span></a
      >
    </li>

    <li class="nav-item" >
      <a class="nav-link" [routerLink]="['/dashboard/admin/estadisticas']" (click)="mostrarTrue()">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Estadisticas</span></a
      >
    </li>
    <!-- Componentes cocinero -->
    <div class="sidebar-heading">
      Cocinero
    </div>

    <li class="nav-item" >
      <a class="nav-link" [routerLink]="['/dashboard/admin/cocinero/gestorOrdenes']" (click)="mostrarTrue()">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Visualizacion de Ordenes</span></a
      >
    </li>

    <li class="nav-item" >
      <a class="nav-link" [routerLink]="['/dashboard/admin/cocinero/bajasManualesDeStock']" (click)="mostrarTrue()">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Modificacion de ingredientes</span></a
      >
    </li>
    <!-- Componentes cajero -->
    <div class="sidebar-heading">
      Cajero
    </div>
    <li class="nav-item" >
      <a class="nav-link" [routerLink]="['/dashboard/admin/cajero/nuevoCliente']" (click)="mostrarTrue()">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Nuevo Cliente</span></a
      >
    </li>
    <li class="nav-item" >
      <a class="nav-link" [routerLink]="['/dashboard/admin/cajero/nuevoPedido']" (click)="mostrarTrue()">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Nuevo Pedido</span></a
      >
    </li>
    <li class="nav-item" >
      <a class="nav-link" [routerLink]="['/dashboard/admin/cajero/administracionDePedidos']" (click)="mostrarTrue()">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Visualizacion de pedidos</span></a
      >
    </li>

    <li class="nav-item" >
      <a class="nav-link" [routerLink]="['/dashboard/admin/cajero/administracionFacturacion']" (click)="mostrarTrue()">
        <i class="fas fa-fw fa-chart-area"></i>
        <span>Facturación</span></a
      >
    </li>
  </ul>

  <div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
      <nav
        class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow"
      >
        <button
          id="sidebarToggleTop"
          class="btn btn-link d-md-none rounded-circle mr-3"
        >
          <i class="fa fa-bars"></i>
        </button>

        <ul class="navbar-nav ml-auto">
          <li class="nav-item dropdown no-arrow">
            <a
              class="nav-link dropdown-toggle"
              href="#"
              id="userDropdown"
              role="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span class="mr-2 d-none d-lg-inline text-gray-600 small">{{
                username
              }}</span>
              <img class="img-profile rounded-circle" src="{{ photo }}" />
            </a>
            <!-- Dropdown - User Information -->
            <div
              class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
              aria-labelledby="userDropdown"
            >
              <a class="dropdown-item" href="#">
                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                Perfil
              </a>
              <div class="dropdown-divider"></div>
              <a
                class="dropdown-item"
                href="#"
                data-toggle="modal"
                data-target="#logoutModal"
              >
                <i
                  class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"
                ></i>
                Salir
              </a>
            </div>
          </li>
        </ul>
      </nav>

      <div class="container" *ngIf="mostrar">
        <!-- COMPONENTES ADMIN-->
          <router-outlet></router-outlet>
         
        
      </div>
    </div>

    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Fast Food &copy; 2019</span>
        </div>
      </div>
    </footer>
  </div>
</div>

<a class="scroll-to-top rounded" href="#page-top">
  <i class="fas fa-angle-up"></i>
</a>

<div
  class="modal fade"
  id="logoutModal"
  tabindex="-1"
  role="dialog"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Cerrar sesión</h5>
        <button
          class="close"
          type="button"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="modal-body">¿Quiere cerrar sesión? Seleccione salir.</div>
      <div class="modal-footer">
        <button class="btn btn-secondary" type="button" data-dismiss="modal">
          Cancelar
        </button>
        <a class="btn btn-primary" (click)="logout()">Salir</a>
      </div>
    </div>
  </div>
</div>
