<main class="page login-page">
  <section class="clean-block clean-form dark">
    <div class="container col-lg-4 col-md-8 col-sm-12">
      <div class="block-heading">

        <h1 class="text-info"> <strong>Ingresar a mi cuenta</strong> </h1>


      </div>
      <form [formGroup]="formularioLogin" class="text-center">
        <div class="form-group">
          <label for="email">
            <h4>Email</h4>
          </label>
          <input class="form-control item" type="email" id="email" formControlName="email"
            placeholder="ingrese su email">
          <div class="alert alert-danger" *ngIf="
          formularioLogin.controls['email'].invalid &&
          formularioLogin.controls['email'].dirty
        " role="alert">
            <span *ngIf="formularioLogin.controls['email'].errors.required">
              <p>El email es requerido</p>
            </span>
            <span *ngIf="formularioLogin.controls['email'].errors.email">
              <p>El email no es valido</p>
            </span>
          </div>
        </div>
        <div class="form-group">
          <label for="password">
            <h4>Contraseña</h4>
          </label>
          <input class="form-control" type="password" id="password" formControlName="password"
            placeholder="ingrese su password">
          <div class="alert alert-danger" *ngIf="
          formularioLogin.controls['password'].invalid &&
          formularioLogin.controls['password'].dirty
        " role="alert">
            <span *ngIf="formularioLogin.controls['password'].errors.required">
              <p>password requerida</p>
            </span>
          </div>
        </div>
        <button *ngIf="!mostrarCargar" class="btn btn-primary btn-block" type="submit"
          [disabled]="!formularioLogin.valid" (click)="ingresarConEmailPassword()">
          <h5> <strong>Ingresar</strong> </h5>
        </button>
        <button *ngIf="mostrarCargar" class="btn btn-primary btn-block" type="button" disabled>
          <span class="spinner-grow spinner-grow-sm" role="status" aria-hidden="true"></span>
          <span class="sr-only">
            <p>Cargando...</p>
          </span>
        </button>

        <p><button class="btn btn-danger btn-block mt-4" type="submit" (click)="ingresarConGoogle()"><i
              class="fab fa-google"></i> Continuar con Google</button></p>

        <p> <label for="email" class="text-center"> ¿Olvidaste tu Contraseña?
            <button class="btn btn-warning" [disabled]="formularioLogin.controls['email'].invalid"
              (click)="recuperarPassword()">Recuperar Contraseña</button></label> </p>

        <p> <label for="email" class="text-center">
            ¿Todavia no tenes una cuenta?&nbsp;<a href="/register">&nbsp;Registrar</a>&nbsp;</label> </p>
      </form>

      <div class="alert alert-warning" role="alert" *ngIf="!datosCorrectos">
        {{ textoError }}
      </div>

    </div>
  </section>
</main>
