<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Plantilla</title>
  </head>
  <body style="font-family: Verdana;font-size: 14px;">
    <!-- 12 -->
    <div class="row header" style="margin-left: auto;
        margin-right: auto;
        width: 70%;
        display: flex;">
      <!-- 6 left-align-->
      <div class="logo-img" >
        <img src="https://img.webme.com/pic/b/buen-gusto/logo.jpg" style="width: 250px;"/>
      </div>
      <!-- 6 rigth-align-->
      <div class="header-text" style="margin-left: 50px;">
        <h1 style="text-align: center">Factura: </h1>
      </div>  
      <div class="header-text" style="margin-left: 60px;">
        <h1 style="text-align: center" th:text="${tipoFactura}"></h1>
      </div>
    </div>
    <hr style="width: 70%;"/>
    <!-- 12 -->
    <div class="row datos between" style="margin-left: auto;
        margin-right: auto;
        width: 70%;
        display: flex;">
      <!-- 6 left-align-->
      <div class="datos-empresa">
        <h4>El Buen Gusto</h4>
        <!-- <small>Aquí el eslogan de su empresa</small> -->
      </div>
      <!-- 6 rigth-align-->
      <div class="datos-factura">
        <ul>
          <li style="list-style: none;">Fecha: <span th:text="${fecha}"></span></li>
          <li style="list-style: none;">N de factura: <span th:text="${numerof}"></span></li>
        </ul>
      </div>
    </div>
    <hr style="width: 70%;"/>

    <!-- 12 -->
    <div class="row around datos" style="margin-left: auto;
        margin-right: auto;
        width: 70%;
        display: flex;">
      <!-- 6 left-align-->
      <div class="datos-para">
        <p style="text-decoration: underline;">Datos del Cliente:</p>
        <ul style="list-style-type: none;
                padding:0px;">
          <li style="list-style: none;">Nombre: <span th:text="${nombreC}"></span></li>
          <li style="list-style: none;">Dirección: <span th:text="${direccionC}"></span></li>
          <li style="list-style: none;">Ciudad: <span th:text="${ciudadC}"></span></li>
          <li style="list-style: none;">Teléfono: <span th:text="${telefonoC}"></span></li>
        </ul>
      </div>
      <!-- 6 right-align-->
      <div class="datos-para">
        <p style="text-decoration: underline;">Datos de la Empresa:</p>
        <ul style="list-style-type: none;
                padding:0px;">
        	<li style="list-style: none;">Nombre del Dueño: <span th:text="${nombreE}"></span></li>
          <li style="list-style: none;">Nombre de la empresa: <span th:text="${razonSocialE}"></span></li>
          <li style="list-style: none;">Dirección: <span th:text="${direccionE}"></span></li>
          <li style="list-style: none;">Ciudad: <span th:text="${ciudadE}"></span></li>
          <li style="list-style: none;">Teléfono: <span th:text="${telefonoE}"></span></li>
        </ul>
      </div>
    </div>
    <hr style="width: 70%;"/>

    <!-- 12 -->
    <div class="row tabla-vendedor" style="margin-left: auto;
        margin-right: auto;
        width: 70%;
        display: flex;">
      <table style="width: 100%;
        margin-top: 2em;">
        <tr>
          <th  style="border: 1px solid black;
        border-collapse: collapse;">Método de envío</th>
          <th  style="border: 1px solid black;
        border-collapse: collapse;">Fecha de entrega</th>
          <th  style="border: 1px solid black;
        border-collapse: collapse;">Condiciones de pago</th>
          <th  style="border: 1px solid black;
        border-collapse: collapse;">Numero de Tarjeta de Credito/Debito</th>
        </tr>
        <tr>
          <td style="border: 1px solid black;
        border-collapse: collapse;"><span th:text="${envio}"></span></td>
          <td style="border: 1px solid black;
        border-collapse: collapse;"><span th:text="${fechaEntrega}"></span></td>
          <td style="border: 1px solid black;
        border-collapse: collapse;"><span th:text="${condPago}"></span></td>
          <td style="border: 1px solid black;
        border-collapse: collapse;"><span th:text="${numeroTarjeta}"></span></td>
        </tr>
      </table>
    </div>

    <!-- 12 -->
    <div class="row tabla-articulos" style="margin-left: auto;
        margin-right: auto;
        width: 70%;
        display: flex;">
      <table style="width: 100%;
        margin-top: 2em;">
        <tr>
          <th style="border: 1px solid black;
        border-collapse: collapse;">Cantidad</th>
          <th style="border: 1px solid black;
        border-collapse: collapse;">N.º de artículo</th>
          <th style="border: 1px solid black;
        border-collapse: collapse;">Descripción</th>
          <th style="border: 1px solid black;
        border-collapse: collapse;">Precio por unidad</th>
          <th style="border: 1px solid black;
        border-collapse: collapse;">Descuento</th>
          <th style="border: 1px solid black;
        border-collapse: collapse;">Subtotal</th>
        </tr>
        <tr th:each="detalle: ${detalles}">
          <td style="border: 1px solid black;
        border-collapse: collapse;" th:text="${detalle.cantidad}"/>
          <td style="border: 1px solid black;
        border-collapse: collapse;" th:text="${detalle.idArticulo}"/>
          <td style="border: 1px solid black;
        border-collapse: collapse;" th:text="${detalle.descripcion}"/>
          <td style="border: 1px solid black;
        border-collapse: collapse;" th:text="${detalle.precioUnitario}"/>
          <td style="border: 1px solid black;
        border-collapse: collapse;" th:text="${detalle.descuento}"/>
          <td style="border: 1px solid black;
        border-collapse: collapse;" th:text="${detalle.subtotal}"/>
        </tr>
        <tr>
          <td style="border: 1px solid black;
        border-collapse: collapse;"></td>
          <td style="border: 1px solid black;
        border-collapse: collapse;"></td>
          <td style="border: 1px solid black;
        border-collapse: collapse;"></td>
          <td style="border: 1px solid black;
        border-collapse: collapse;">Descuento total</td>
          <td style="border: 1px solid black;
        border-collapse: collapse;"><span th:text="${descuentoTotal}"></span></td>
          <td style="border: 1px solid black;
        border-collapse: collapse;">-</td>
        
        </tr>
        <tr>
          <td style="border: 1px solid black;
        border-collapse: collapse;"></td>
          <td style="border: 1px solid black;
        border-collapse: collapse;"></td>
          <td style="border: 1px solid black;
        border-collapse: collapse;"></td>
          <td style="border: 1px solid black;
        border-collapse: collapse;"></td>
          <td style="border: 1px solid black;
        border-collapse: collapse;">Total</td>
          <td style="border: 1px solid black;
        border-collapse: collapse;"><span th:text="${total}"></span></td>
        </tr>
      </table>
    </div>
    
    <div class="row footer" style="margin-left: auto;
        margin-right: auto;
        width: 70%;
        display: flex;
        margin-top: 3em;
        text-align: center;">
      <h4 style="width: 100%;
        display: block;">Todos los cheques se extenderán a nombre de El Buen Gusto</h4>
      <h3 style="width: 100%;
        display: block;">Gracias por su confianza.</h3>

      <small style="width: 100%;
        display: block;">El Buen Gusto, Mendoza, 5520, elbuengustofinal@gmail.com</small>
    </div>
  </body>
</html>

