<div id="promo">
  <div class="jumbotron">
    <h1><br>Tu comida favorita, a la velocidad del Buen <strong>Gusto</strong><br><br></h1>
    <p><a class="btn btn-primary active btn-lg" role="button" id="boton-ver-mas"
        [routerLink]="['/catalogo']">Catalogo</a></p>
  </div>
</div>


<div class="container site-section" id="wellcome">
  <h1>Bienvenido al Buen <strong>Gusto</strong></h1>
  <p><br>Nuestro reto diario, hacer una cocina tradicional basada en nuestras raíces y
    en la calidad de los productos frescos de la tierra y el mar.Nuestra especialidad, el bacalao,
    al cual rendimos culto en sus infinitas formas de preparación.Buen
    provecho,<br><br></p>
</div>
<div class="dark-section">
  <div class="container site-section" id="why">
    <h1>Por qué elegirnos ?<br></h1>
    <div class="row">
      <div class="col-md-4 item"><i class="fas fa-hamburger"></i>
        <h2>Hamburguesas</h2>
        <p>Ven y prueba nuestras hamburguesas
          , Todas están hechas con carne hecha al momento , Pan artesanal y las verduras frescas!.&nbsp;
        </p>
      </div>
      <div class="col-md-4 item"><i class="fas fa-pizza-slice"></i>
        <h2>Pizzas</h2>
        <p>Nuestra pizza es un recorrido
          leudado con las historias del corte y molde para uno de los íconos de la gastronomía argentina.
          Una porción de la comida más amada de nuestra cultura popular. Una pasión redonda.</p>
      </div>
      <div class="col-md-4 item"><i class="fas fa-hotdog"></i>
        <h2>Panchos</h2>
        <p>Señores Panchos. Para ellos, contamos con salchichas y panificados de primera calidad y
          sus múltiples combinaciones con las Señoras Salsas y Extras que los convierten en una opción exquisita,
          abundante y muy elegida. </p>
      </div>
    </div>
  </div>
</div>
<div class="container site-section" id="wellcome-1">
  <h1>Galeria</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card"><a href="../../../../assets/assetsHome/img/Burger-.jpg" target="_blank"
          data-lightbox="comidas"><img class="img-fluid" src="../../../../assets/assetsHome/img/Burger-.jpg"></a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card"><a href="../../../../assets/assetsHome/img/Flat-pizza.mini.jpg" target="_blank"
          data-lightbox="comidas"><img class="img-fluid"
            src="../../../../assets/assetsHome/img/Flat-pizza.mini.jpg"></a></div>
    </div>
    <div class="col-md-4">
      <div class="card"><a href="../../../../assets/assetsHome/img/pancho.mini.jpg" target="_blank"
          data-lightbox="comidas"><img class="img-fluid" src="../../../../assets/assetsHome/img/pancho.mini.jpg"
            style="height: 327;font-size: 16;"></a></div>
    </div>
  </div>
</div>
