/* Styles */

body {
  font-family: -apple-system, BlinkMacSystemFont, Raleway, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: -apple-system, BlinkMacSystemFont, Raleway, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.dark-section h2,
p,
i {
  color: gray;
}



#promo {
  text-align: center;
  padding: 207px;

   background: url("../../../../assets/assetsHome/img/Fast_food_Pizza3.jpg")
    no-repeat;
  background-size: cover;
}



@media (max-width: 991px) {
  #promo {
    padding: 20px;
  }
}

#promo .jumbotron {
  border-radius: 40px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.75);
  max-width: 800px;
  margin: 0 auto;
  margin-top: -70px;
}

@media (max-width: 360px) {
  #promo .jumbotron {
    padding: 20px;
  }
}

#promo h1 {
  font-weight: 400;
}

#promo p {
  font-size: larger;
}

.site-section {
  text-align: center;
  padding: 50px 0;
}

.dark-section {
  background-color: #eff7fb;
}

#wellcome p {
  max-width: 800px;
  font-size: 20px;
  margin: 0 auto;
}

.site-section h1 {
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 60px;
}

.site-section h3 {
  font-weight: normal;
  margin-bottom: 30px;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

#boton-ver-mas {
  background: #0088ff;
}

#why .item h2 {
  font-weight: normal;
  margin-top: 13px;
  margin-bottom: 20px;
  font-size: 24px;
}

#why .item {
  padding-top: 36px;
}

#why .item i {
  font-size: 42px;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: #3399f3;
  background-color: #ffff;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #345578;
  border-color: #314f6f;
}

