<nav class="navbar navbar-light navbar-expand-md sticky-top">
  <div class="container"><img id="logo" src="../../../../assets/assetsHome/img/foodLogo.png">
    <a class="navbar-brand text-success" href="/">Fast <strong>Food</strong></a><button data-toggle="collapse"
      class="navbar-toggler" data-target="#navcol-1">
      <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" role="presentation"><a class="nav-link active" href="/login">Iniciar</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="/register">Registrar</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="/user-profile">Perfil</a></li>
        <a class="btn btn-success" id="boton-ofertas" href="/ofertas" role="button">Ofertas</a>

      </ul>
    </div>
  </div>
</nav>
<div id="promo">
  <div class="jumbotron">
    <h1><br>Tu comida favorita, a la velocidad de Fast <strong>Food</strong><br><br></h1>
    <p><a class="btn btn-primary active btn-lg" role="button" id="boton-ver-mas" href="/catalogo">Catalogo</a></p>
  </div>
</div>
<div class="container site-section" id="wellcome">
  <h1>Bienvenido a Fast <strong>Food</strong></h1>
  <p><br>Nuestro reto diario, hacer una cocina tradicional basada en nuestras raíces y
    en la calidad de los productos frescos de la tierra y el mar.Nuestra especialidad, el bacalao,
    al cual rendimos culto en sus infinitas formas de preparación.Buen
    provecho,<br><br></p>
</div>
<div class="dark-section">
  <div class="container site-section" id="why">
    <h1>Por qué elegirnos ?<br></h1>
    <div class="row">
      <div class="col-md-4 item"><i class="fas fa-hamburger"></i>
        <h2>Hamburguesas</h2>
        <p>Frescas, jugosas y elegantes, con ingredientes echos a mano.&nbsp;<br>Este amor y conviccion por nuestros
          productos es gracias a <strong>Alito</strong>, el encargado de degustar todas nuestras hamburguesas.&nbsp;
        </p>
      </div>
      <div class="col-md-4 item"><i class="fas fa-pizza-slice"></i>
        <h2>Pizzas</h2>
        <p>Pizzas caseras, echas en horno de barro como las del barrio.<br>Pizzero: El flaco
          <strong>Sintetico&nbsp;</strong></p>
      </div>
      <div class="col-md-4 item"><i class="fas fa-hotdog"></i>
        <h2>Panchos</h2>
        <p>Panchos de otro level<br>.&nbsp; Diseñados con la perfeccion y elegancia de <strong>"El Rana"
          </strong>Murua.</p>
      </div>
    </div>
  </div>
</div>
<div class="container site-section" id="wellcome-1">
  <h1>Gallery</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card"><a href="../../../../assets/assetsHome/img/Burger-.jpg" target="_blank"
          data-lightbox="comidas"><img class="img-fluid" src="../../../../assets/assetsHome/img/Burger-.jpg"></a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card"><a href="../../../../assets/assetsHome/img/Flat-pizza.mini.jpg" target="_blank"
          data-lightbox="comidas"><img class="img-fluid"
            src="../../../../assets/assetsHome/img/Flat-pizza.mini.jpg"></a></div>
    </div>
    <div class="col-md-4">
      <div class="card"><a href="../../../../assets/assetsHome/img/pancho.mini.jpg" target="_blank"
          data-lightbox="comidas"><img class="img-fluid" src="../../../../assets/assetsHome/img/pancho.mini.jpg"
            style="height: 327;font-size: 16;"></a></div>
    </div>
  </div>
</div>
<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 footer-navigation">
        <h3><a href="/">Fast <strong>Food</strong></a></h3>
        <p class="links"><a href="/">Home</a><strong> ·
           </strong><a href="/catalogo">Catalago</a><strong> · </strong><a
            href="#">Perfil</a><strong> ·
               </strong><a href="#">Contacto</a><strong> · </strong><a
            href="#">Ruta1</a><strong> · </strong><a href="#">Ruta2</a></p>
        <p class="company-name">Fast Food © 2020</p>
      </div>
      <div class="col-sm-6 col-md-4 footer-contacts">
        <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
          <p><span class="new-line-span">21 Revolution Street</span> Paris, France</p>
        </div>
        <div><i class="fa fa-phone footer-contacts-icon"></i>
          <p class="footer-center-info email text-left"> +1 555 123456</p>
        </div>
        <div><i class="fa fa-envelope footer-contacts-icon"></i>
          <p> <a href="#" target="_blank">support@company.com</a></p>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-4 footer-about">
        <h4>About the company</h4>
        <p> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus
          vehicula sit amet. </p>
        <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
              class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i
              class="fa fa-github"></i></a></div>
      </div>
    </div>
  </div>
</footer>
