
<div id="promo">
  <div class="jumbotron">
    <h1><br>Tu comida favorita, a la velocidad de Fast <strong>Food</strong><br><br></h1>
    <p><a class="btn btn-primary active btn-lg" role="button" id="boton-ver-mas" href="/catalogo">Catalogo</a></p>
  </div>
</div>
<div class="container site-section" id="wellcome">
  <h1>Bienvenido a Fast <strong>Food</strong></h1>
  <p><br>Nuestro reto diario, hacer una cocina tradicional basada en nuestras raíces y
    en la calidad de los productos frescos de la tierra y el mar.Nuestra especialidad, el bacalao,
    al cual rendimos culto en sus infinitas formas de preparación.Buen
    provecho,<br><br></p>
</div>
<div class="dark-section">
  <div class="container site-section" id="why">
    <h1>Por qué elegirnos ?<br></h1>
    <div class="row">
      <div class="col-md-4 item"><i class="fas fa-hamburger"></i>
        <h2>Hamburguesas</h2>
        <p>Frescas, jugosas y elegantes, con ingredientes echos a mano.&nbsp;<br>Este amor y conviccion por nuestros
          productos es gracias a <strong>Alito</strong>, el encargado de degustar todas nuestras hamburguesas.&nbsp;
        </p>
      </div>
      <div class="col-md-4 item"><i class="fas fa-pizza-slice"></i>
        <h2>Pizzas</h2>
        <p>Pizzas caseras, echas en horno de barro como las del barrio.<br>Pizzero: El flaco
          <strong>Sintetico&nbsp;</strong></p>
      </div>
      <div class="col-md-4 item"><i class="fas fa-hotdog"></i>
        <h2>Panchos</h2>
        <p>Panchos de otro level<br>.&nbsp; Diseñados con la perfeccion y elegancia de <strong>"El Rana"
          </strong>Murua.</p>
      </div>
    </div>
  </div>
</div>
<div class="container site-section" id="wellcome-1">
  <h1>Galeria</h1>
  <div class="row">
    <div class="col-md-4">
      <div class="card"><a href="../../../../assets/assetsHome/img/Burger-.jpg" target="_blank"
          data-lightbox="comidas"><img class="img-fluid" src="../../../../assets/assetsHome/img/Burger-.jpg"></a>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card"><a href="../../../../assets/assetsHome/img/Flat-pizza.mini.jpg" target="_blank"
          data-lightbox="comidas"><img class="img-fluid"
            src="../../../../assets/assetsHome/img/Flat-pizza.mini.jpg"></a></div>
    </div>
    <div class="col-md-4">
      <div class="card"><a href="../../../../assets/assetsHome/img/pancho.mini.jpg" target="_blank"
          data-lightbox="comidas"><img class="img-fluid" src="../../../../assets/assetsHome/img/pancho.mini.jpg"
            style="height: 327;font-size: 16;"></a></div>
    </div>
  </div>
</div>

