#promo {
  text-align: center;
  padding: 200px;
  background: url(../../assets/img/Fast_food_Pizza.jpg) no-repeat;
  background-size: cover;
}

#logo {
  max-height: 42px;
  margin-right: 18px;
  margin-top: -3px;
  display: inline-block;
}

.navbar {
  background-color: white;
}

@media (max-width: 991px) {
  #promo {
    padding: 20px;
  }
}

#promo .jumbotron {
  border-radius: 30px;
  padding: 40px;
  background-color: rgba(255, 255, 255, 0.75);
  max-width: 800px;
  margin: 0 auto;
}

@media (max-width: 360px) {
  #promo .jumbotron {
    padding: 20px;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Raleway, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}

#promo h1 {
  font-weight: 400;
}

#promo p {
  font-size: larger;
}

.site-section {
  text-align: center;
  padding: 50px 0;
}

.dark-section {
  background-color: #eff7fb;
}

#wellcome p {
  max-width: 800px;
  font-size: 20px;
  margin: 0 auto;
}

.site-section h1 {
  font-weight: normal;
  margin-bottom: 30px;
  margin-top: 60px;
}

.site-section h3 {
  font-weight: normal;
  margin-bottom: 30px;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #33d743;
  border-color: #33d743;
}

#boton-ver-mas {
  background: #5bb263;
}

#why .item h2 {
  font-weight: normal;
  margin-top: 13px;
  margin-bottom: 20px;
  font-size: 24px;
}

#why .item {
  padding-top: 36px;
}

#why .item i {
  font-size: 42px;
}

.navbar-light .navbar-nav .show > .nav-link, .navbar-light .navbar-nav .active > .nav-link, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .nav-link.active {
  color: #3399f3;
  background-color: #ffff;
}

.btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active, .show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #345578;
  border-color: #314f6f;
}

