<div class="container">
  <table class="table table-striped table-dark mt-3">
    <thead class="thead-light">
      <tr>
        <th scope="col" hidden>ID</th>
        <th scope="col">Fecha</th>
        <th scope="col">Numero</th>
        <th scope="col">Estado</th>
        <th scope="col">Hora estimada fin</th>
        <th scope="col">Tipo envio</th>
        <th scope="col">Factura</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pedido of pedidosCliente">
        <td hidden>{{pedido.id}}</td>
        <td>{{pedido.fecha}}</td>
        <td>{{pedido.numero}}</td>
        <td>{{pedido.estado}}</td>
        <td>{{pedido.horaEstimadaFin}}</td>
        <td>{{pedido.tipoEnvio}}</td>
        <td>
          <a [routerLink]="['/factura',pedido.factura.id]">Ver factura</a>
        </td>
      </tr>
    </tbody>
  </table>
</div>
