<div class="container">
  <table class="table table-striped table-dark mt-3">
    <thead class="thead-light">
      <tr>
        <th scope="col" hidden>ID</th>
        <th scope="col">Fecha</th>
        <th scope="col">Número</th>
        <th scope="col">Estado</th>
        <th scope="col">Hora estimada fin</th>
        <th scope="col">Tipo envío</th>
        <th scope="col">Detalle</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let pedido of filtrarPedidos">
        <td hidden>{{ pedido.id }}</td>
        <td>{{ pedido.fechaRealizacion | date }}</td>
        <td>{{ pedido.numero }}</td>
        <td>{{ pedido.estadoPedido.nombreEstado }}</td>
        <td>{{ pedido.hora_estimada_fin | date: "medium" }}</td>
        <td *ngIf="pedido.tipo_Envio; else SinEnvio">Delivery</td>
        <ng-template #SinEnvio>
          <td>Local</td>
        </ng-template>
        <td>
          <a [routerLink]="['/pedido', pedido.id]" data-dismiss="modal"
            >Ver pedido</a
          >
        </td>
      </tr>
    </tbody>
  </table>

  <div
    class="alert alert-danger"
    id="alerta"
    role="alert"
    *ngIf="pedidosCliente.length === 0"
  >
    No se encuentran Pedidos para mostrar en este momento...
    <p>
      Puede realizar seleccionar su plato favorito y pedirlo a la puerta de su
      casa!
    </p>
    <a [routerLink]="['/catalogo']" data-dismiss="modal">
      <button class="btn btn-primary">
        Catalogo
      </button>
    </a>
  </div>
</div>
