<footer>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-md-4 footer-navigation">
        <h3><a href="/">Buen <strong>Gusto</strong></a></h3>
        <p class="links"><a href="/">Home</a> ·
          <a href="/catalogo">Catalago</a>
        <p class="company-name">Fast Food © 2020</p>
      </div>
      <div class="col-sm-6 col-md-4 footer-contacts">
        <div><span class="fa fa-map-marker footer-contacts-icon"> </span>
          <p><span class="new-line-span">Aristides 1696</span> Argentina, Mendoza</p>
        </div>
        <div><i class="fa fa-phone footer-contacts-icon"></i>
          <p class="footer-center-info email text-left"> +549 2614551133</p>
        </div>
        <div><i class="fa fa-envelope footer-contacts-icon"></i>
          <p> <a href="#" target="_blank">buengustomza@gmail.com</a></p>
        </div>
      </div>
      <div class="clearfix"></div>
      <div class="col-md-4 footer-about">
        <h4>Nuestra Compañia</h4>
        <p> Lorem ipsum dolor sit amet, consectateur adispicing elit. Fusce euismod convallis velit, eu auctor lacus
          vehicula sit amet. </p>
        <div class="social-links social-icons"><a href="#"><i class="fa fa-facebook"></i></a><a href="#"><i
              class="fa fa-twitter"></i></a><a href="#"><i class="fa fa-linkedin"></i></a><a href="#"><i
              class="fa fa-github"></i></a></div>
      </div>
    </div>
  </div>
</footer>
