<div id="page-top">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        <div class="container-fluid">
          <h3 class="text-dark p-4">Perfil</h3>
          <div class="row mb-3">
            <div class="col-lg-4">
              <div class="card mb-3">
                <div class="card-body text-center shadow"><img class="rounded-circle mb-3 mt-4" src="{{cliente.foto}}"
                    width="160" height="160">
                  <div class="mb-3">
                    <div class="col mt-3">
                      <a class="btn btn-primary btn-sm" type="button" data-toggle="modal"
                        data-target=".bd-example-modal-xl">
                        Historial de pedidos</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="row">
                <div class="col">
                  <div class="card shadow mb-3">
                    <div class="card-header py-3">
                      <p class="text-primary m-0 font-weight-bold">Datos del Usuario</p>
                    </div>
                    <div class="card-body">
                      <form>
                        <div class="form-row">
                          <div class="col">
                            <div class="form-group"><label for="first_name"><strong>Nombre</strong></label>
                              <input class="form-control" type="text" placeholder="Ingrese su nombre" name="first_name"
                                [(ngModel)]="cliente.nombre">
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group"><label for="last_name"><strong>Apellido</strong></label>
                              <input class="form-control" type="text" placeholder="Ingrese su apellido" name="last_name"
                                [(ngModel)]="cliente.apellido">
                            </div>
                          </div>
                        </div>
                        <div class="form-row">
                          <div class="col">
                            <div class="form-group"><label for="email"><strong>Email</strong></label>
                              <input class="form-control" type="email" placeholder="Ingrese su Email" name="email"
                                [(ngModel)]="cliente.email">
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group"><label for="telefono"><strong>Telefono</strong></label>
                              <input class="form-control" type="number" placeholder="Ingrese su telefono"
                                name="telefono" [(ngModel)]="cliente.telefono">
                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <button class="btn btn-primary btn-sm" type="submit">Guardar configuracion</button>
                        </div>
                      </form>
                    </div>
                  </div>
                  <div class="card shadow">
                    <div class="card-header py-3">
                      <p class="text-primary m-0 font-weight-bold">Datos del Domicilio</p>
                    </div>
                    <div class="card-body">
                      <form>
                        <div class="form-group"><label for="address"><strong>Calle</strong></label>
                          <input class="form-control" type="text" placeholder="Ingrese su calle" name="address"
                            [(ngModel)]="cliente.domicilio.calle">
                        </div>
                        <div class="form-row">
                          <div class="col">
                            <div class="form-group"><label for="city"><strong>Numeracion</strong></label>
                              <input class="form-control" type="number" placeholder="Ingrese su numeracion" name="city"
                                [(ngModel)]="cliente.domicilio.numero">
                            </div>
                          </div>
                          <div class="col">
                            <div class="form-group"><label for="country"><strong>Localidad</strong></label>
                              <input class="form-control" type="text" name="Ingrese su localidad"
                                [(ngModel)]="cliente.domicilio.ciudad">

                            </div>
                          </div>
                        </div>
                        <div class="form-group">
                          <button class="btn btn-primary btn-sm" type="submit">Guardar configuracion</button>
                        </div>
                      </form>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade bd-example-modal-xl" tabindex="-1" role="dialog" aria-labelledby="myExtraLargeModalLabel"
  aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Historial de pedidos</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <app-pedidos [clienteUser]="cliente"></app-pedidos>
        <div data-spy="scroll" data-target="#navbar-example2" data-offset="0">
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>