<div class="container mt-3" id="body" *ngIf="cliente.nombre">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        <div class="container-fluid">
          <h3 class="text-dark text-center p-4">Perfil</h3>
          <div class="row mb-3">
            <div class="col-lg-4">
              <div class="card mb-3">
                <div class="mb-3 text-center">
                  <div class="col mt-3">
                    <a class="btn btn-primary text-white" type="button" data-toggle="modal"
                      data-target=".bd-pedido-modal-xl" (click)="pasarDatos(cliente)">
                      Historial de pedidos</a>
                  </div>
                  <div class="col mt-3">
                    <a class="btn btn-primary text-white" type="button" data-toggle="modal"
                      data-target=".bd-factura-modal-xl" (click)="pasarDatos(cliente)">
                      Historial de facturas</a>
                  </div>
                  <div class="col mt-3">
                    <a class="btn btn-primary text-white" type="button" data-toggle="modal"
                      data-target=".modal-formulario-xl" (click)="pasarDatos(cliente)">
                      Datos Personales</a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <div class="row">
                <div class="col">
                  <div class="card shadow mb-3">
                    <div class="card-header py-3">
                      <p class="text-primary m-0 font-weight-bold" style="font-size: 20px;">
                        Datos del Usuario
                      </p>
                    </div>
                    <div class="card-body">

                      <div class="row text-center" style="font-size: 15px;">
                        <div class="col-6">

                          <label for="first_name"><strong>Nombre</strong></label>
                          <hr>
                          <p>{{cliente.nombre | uppercase}}</p>
                          <hr>
                        </div>
                        <div class="col-6">
                          <label for="last_name"><strong>Apellido</strong></label>
                          <hr>
                          <p>{{cliente.apellido | uppercase}}</p>
                          <hr>
                        </div>
                  
                        <div class="col-6 mt-4" *ngIf="cliente.telefono">

                          <label for="telefono"><strong>Telefono</strong></label>
                          <hr>
                          <p>{{cliente.telefono}}</p>
                          <hr>
                        </div>
                        <div class="col-6 mt-4">

                          <label for="email"><strong>Email</strong></label>
                          <hr>
                          <p>{{cliente.usuario.email}}</p>
                          <hr>
                        </div>


                      </div>

                      <div class="row text-center" *ngIf="cliente.domicilio.calle">
                        <hr>
                        <div class="col-6 mt-4">

                          <label for="calle"><strong>Calle</strong></label>
                          <hr>
                          <p>{{cliente.domicilio.calle  | uppercase}}</p>
                          <hr>
                        </div>

                        <div class="col-6 mt-4">

                          <label for="aclaracion"><strong>Aclaracion</strong></label>
                          <hr>
                          <p>{{cliente.domicilio.aclaracion}}</p>
                          <hr>
                        </div>

                        <div class="col-4 mt-4">

                          <label for="city"><strong>Numeracion</strong></label>
                          <hr>
                          <p>{{cliente.domicilio.numero}}</p>
                          <hr>
                        </div>

                        <div class="col-4 mt-4">

                          <label for="piso"><strong>Piso</strong></label>
                          <hr>
                          <p>{{cliente.domicilio.piso}}</p>
                          <hr>
                        </div>
                        <div class="col-4 mt-4">
                          <label for="departamento">
                            <strong>Numero Dpto</strong>
                          </label>
                          <hr>
                          <p>{{cliente.domicilio.nroDepartamento}}</p>
                          <hr>
                        </div>

                        <div class="col-6 mt-4">

                          <label for="country">
                            <strong>Localidad</strong>
                          </label>
                          <hr>
                          <p>{{cliente.domicilio.localidad.nombre  | uppercase}}</p>
                          <hr>
                        </div>
                        <div class="col-6 mt-4">

                          <label for="country">
                            <strong>Provincia</strong>
                          </label>
                          <hr>
                          <p>{{cliente.domicilio.localidad.provincia.nombre  | uppercase}}</p>
                          <hr>
                        </div>
                      </div>

                      <div class="row text-center" *ngIf="!cliente.domicilio.calle">
                        <div class="col-12">
                          <hr>
                          <div class="alert alert-danger" role="alert">
                            <strong>Usted no posee un domicilio asociado a su cuenta!!</strong>
                            <p>Recuerde que solo podra acceder a la opcion de delivery solo si posee un domicilio en su
                              perfil</p>
                            <div class="">
                              <a class="btn btn-primary text-white" type="button" data-toggle="modal"
                                data-target=".modal-formulario-xl" (click)="pasarDatos(cliente)">
                                Cargar nuevo domicilio</a>
                            </div>
                          </div>
                        </div>
                      </div>


                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<app-modal-historial-pedidos [clienteUser]="cliente"></app-modal-historial-pedidos>


<app-modal-historial-facturas [clienteUser]="cliente"></app-modal-historial-facturas>

<app-modal-formulario [clienteUser]="cliente"></app-modal-formulario>