<div class="fondo" id="body">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 text-center">
        <h3>Administración de Platos</h3>
      </div>
    </div>
    <div class="row mb-4 ml-2">
      <button
        class="btn btn-success mr-3"
        data-target="#ModalProductos"
        data-toggle="modal"
      >
        Crear nuevo plato
      </button>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Denominación</th>
            <th scope="col">Rubro</th>
            <th scope="col">Tiempo estimado</th>
            <th scope="col">Ingredientes</th>
            <th scope="col">Precio</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let articulo of articuloManufacturado
                | paginate: { itemsPerPage: 5, currentPage: pageActual }
            "
          >
            <td>{{ articulo.denominacion }}</td>
            <td>{{ articulo.rubro.denominacion }}</td>
            <td>{{ articulo.tiempo_estimado_manuf }}'</td>
            <td>
              <button
                aria-expanded="false"
                class="btn btn-info dropdown-toggle"
                data-toggle="dropdown"
                type="button"
              >
                Detalle ingredientes<span class="caret"></span>
              </button>

              <ul class="dropdown-menu" role="menu">
                <li
                  *ngFor="let item of articulo.lista_detalleManufacturado"
                  class="list-group-item"
                >
                  {{ item.articuloInsumoID.denominacion }} -
                  {{ item.cantidad }} - {{ item.unidadMedidaID.abreviatura }}
                </li>
              </ul>
            </td>
            <td>${{ articulo.precio_de_venta }}</td>
            <td>
              <!-- (click)="editar(articulo)" -->
              <button
                class="btn btn-info mr-3"
                data-target="#ModalProductos"
                data-toggle="modal"
                (click)="setearPlato(articulo)"
              >
                <i class="fas fa-pencil-alt">Editar</i>
              </button>
              <button
                (click)="eliminar(articulo)"
                class="btn btn-danger mr-3"
                data-toggle="modal"
              >
                <i class="fas fa-trash">Eliminar</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <pagination-controls
      (pageChange)="pageActual = $event"
    ></pagination-controls>
  </div>
</div>

<app-modal-platos [platoProp]="plato"></app-modal-platos>
