

<div class="container">
    <div class="row">
        <div class="col-12 text-center">
          <h1>Administracion de Stock</h1>
        </div>
    </div>
    <div class="row mb-4 ml-2">
        <button class="btn btn-success mr-3" data-toggle="modal" data-target="#ModalStock">Crear nuevo articulo</button>
    </div>

    <table class="table table-striped text-center">
        <thead>
            <tr>
                <th scope="col"></th>
                <th scope="col">Denominacion</th>
                <th scope="col">Precio Compra</th>
                <th scope="col">Precio Venta</th>
                <th scope="col">Stock Actual</th>
                <th scope="col">Stock Minimo</th>
                <th scope="col">Unidad de medida</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><i class="fas fa-fw fa-clipboard"></i></td>
                <td>DenominacionEjemplo</td>
                <td>150</td>
                <td>300</td>
                <td>80</td>
                <td>10</td>
                <td>kg</td>
                <td>
                    <button class="btn btn-info mr-3" data-toggle="modal"
                        data-target="#ModalStock" (click)="editar()"><i class="fas fa-pencil-alt"></i></button>
                    <button class="btn btn-danger mr-3" data-toggle="modal"><i class="fas fa-trash"></i></button>
                </td>
            </tr>

        </tbody>
    </table>

</div>

<!-- Modal NUEVO -->
<!-- Modal EDITAR -->
<div class="modal fade" data-backdrop="static" id="ModalStock" tabindex="-1" role="form" aria-labelledby="ModalStockLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 *ngIf="!esEditar" class="modal-title" id="exampleModalLabel">Agregar</h5>
                <h5 *ngIf="esEditar" class="modal-title" id="exampleModalLabel">Editar</h5>
                <button (click)="cerrar()" type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-lg-center">
                <form action="">
                    <div class="row">
                        <div class="col-12">
                            <h5 class="modal-title" id="exampleModalLabel">Ingrese los datos del articulo</h5>
                        </div>
                        
                        <div class="col-6">
                            <div class="form-group">
                                <label for="">Denominacion</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>  
                        <div class="col-6">
                            <div class="form-group">
                                <label for="">Precio Compra</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="col-6">     
                            <div class="form-group">
                                <label for="">Precio Venta</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div> 
                        <div class="col-6">     
                            <div class="form-group">
                                <label for="">Stock inicial</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div> 
                        <div class="col-6">     
                            <div class="form-group">
                                <label for="">Stock Minimo</label>
                                <input type="text" class="form-control" />
                            </div>
                        </div> 
                        <div class="col-6">     
                            <div class="form-group">
                                <label for="">Unidad de medida</label>
                                <select class="form-control" id="unidadMedida" name="unidadMedida">
                                    <option value="0">gramos</option>
                                    <option value="1">kilogramos</option>
                                    <option value="2">litros</option>
                                    <option value="3">unidad</option>
                                </select>
                            </div>
                        </div>

                    

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="cerrar()">Close</button>
                <button *ngIf="esEditar" type="button" class="btn btn-info">Editar articulo</button>
                <button *ngIf="!esEditar" type="button" class="btn btn-info">Crear nuevo articulo</button>
            </div>
        </div>
    </div>
</div>

