<div class="container mt-3">
  <div class="row">
    <div
      class="contact100-form-title imagen-titulo text-center jumbotron"
      style="margin-bottom: 20px;"
    >
      <span class="contact100-form-title-1">
        Administración de Stock
      </span>
    </div>
  </div>

  <div class="row mb-4 ml-2">
    <button
      class="btn btn-success mr-3"
      data-toggle="modal"
      data-target="#ModalStock"
      (click)="limpiarForm()"
    >
      Nuevo artículo
    </button>
    <div class="buscador">
      <form>
        <p style="font-size: 25px;">Buscar :</p>

        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Articulo..."
          aria-label="Search"
          [(ngModel)]="filtroBuscador"
          [ngModelOptions]="{ standalone: true }"
        />
      </form>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped text-center">
      <thead>
        <tr>
          <th hidden>#</th>
          <th scope="col">Denominación</th>
          <th scope="col">Categoría</th>
          <!-- <th scope="col">Catalogo</th> -->
          <th scope="col">Costo</th>
          <th scope="col">Precio Venta</th>
          <th scope="col">Refrigeración</th>
          <th scope="col">Stock Actual</th>
          <th scope="col">Stock Mínimo</th>
          <th scope="col">Imagen</th>
          <th scope="col">Unidad de medida</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <!-- trackBy Mejora el rendimiento -->
        <tr
          *ngFor="
            let i of filtrar
              | paginate: { itemsPerPage: 4, currentPage: pageActual };
            trackBy: trackByFn
          "
        >
          <th hidden>{{ i.id }}</th>

          <td>
            <p *ngIf="i.denominacion">{{ i.denominacion }}</p>
            <p *ngIf="!i.denominacion" class="alert-articulo">
              VERIFICAR ARTICULO
            </p>
          </td>

          <td>
            <p *ngIf="i.categoria.nombreCategoria">
              {{ i.categoria.nombreCategoria }}
            </p>
          </td>

          <!-- <td>
            <p *ngIf="i.es_catalogo === true">Si</p>
            <p *ngIf="i.es_catalogo === false">No</p>
          </td> -->

          <td>
            <p *ngIf="i.precio_de_compra">$ {{ i.precio_de_compra }}</p>
            <p *ngIf="!i.precio_de_compra" class="alert-articulo">
              VERIFICAR ARTICULO
            </p>
          </td>

          <td>
            <p *ngIf="i.precio_de_venta">$ {{ i.precio_de_venta }}</p>
            <p *ngIf="!i.precio_de_venta">
              Artículo insumo
            </p>
          </td>

          <td>
            <p *ngIf="i.requiere_refrigeracion === true">Si</p>
            <p *ngIf="i.requiere_refrigeracion === false">No</p>
          </td>

          <td>
            <p *ngIf="i.stock_actual">{{ i.stock_actual }}</p>
            <p *ngIf="!i.stock_actual" class="alert-articulo">
              VERIFICAR ARTICULO
            </p>
          </td>

          <td>
            <p *ngIf="i.stock_minimo">{{ i.stock_minimo }}</p>
            <p *ngIf="!i.stock_minimo" class="alert-articulo">
              VERIFICAR ARTICULO
            </p>
          </td>

          <!-- <td>
            <p *ngIf="i.stock_maximo">{{ i.stock_maximo }}</p>
            <p *ngIf="!i.stock_maximo" class="alert-articulo">
              VERIFICAR ARTICULO
            </p>
          </td> -->

          <td>
            <img
              src="{{ i.url_imagen }}"
              class="img-thumbnail img-fluid"
              *ngIf="i.url_imagen"
            />
            <img
              src="../../../../../../assets/image-not-available.png"
              class="img-thumbnail img-fluid"
              *ngIf="!i.url_imagen"
            />
          </td>

          <td>
            <p *ngIf="i.unidadMedidaID.denominacion">
              {{ i.unidadMedidaID.denominacion }}
            </p>
            <p *ngIf="!i.unidadMedidaID.denominacion" class="alert-articulo">
              VERIFICAR ARTICULO
            </p>
          </td>

          <td>
            <button
              class="btn btn-info mr-1"
              data-toggle="modal"
              data-target="#ModalStock"
              (click)="editar(i)"
            >
              <i class="fas fa-pencil-alt"></i>
            </button>
          </td>
          <td>
            <button
              class="btn btn-danger"
              data-toggle="modal"
              (click)="delete(i)"
            >
              <i class="fas fa-trash"></i>
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="text-center">
    <pagination-controls
      (pageChange)="pageActual = $event"
    ></pagination-controls>
  </div>
</div>

<!-- Modal EDITAR -->
<div
  class="modal fade"
  data-backdrop="static"
  id="ModalStock"
  tabindex="-1"
  role="form"
  aria-labelledby="ModalStockLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-xl" role="document" id="body">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="!esEditar" class="modal-title" id="modalAgregar">
          Agregar nuevo artículo
        </h5>
        <h5 *ngIf="esEditar" class="modal-title" id="modalEditar">
          <i class="fas fa-pencil-alt"></i> <strong>Editar</strong>
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-lg-center">
        <form name="formStock" [formGroup]="formStock" *ngIf="this.formStock">
          <div class="row">
            <div class="col-12 contact100-form-title imagen-titulo">
              <span class="contact100-form-title-1">
                Stock de Artículos
              </span>

              <span class="contact100-form-title-2">
                Ingrese los datos del artículo
              </span>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Denominación</label>
                <input
                  type="text"
                  class="form-control"
                  name="denominacion"
                  formControlName="denominacion"
                  placeholder="nombre articulo.."
                />
                <div
                  *ngIf="
                    formStock.controls['denominacion'].invalid &&
                    formStock.controls['denominacion'].dirty
                  "
                  class="alert alert-danger"
                  role="alert"
                >
                  <span
                    *ngIf="formStock.controls['denominacion'].errors.required"
                    >El nombre es requerido
                  </span>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>Es catálogo ?</label>
                <select formControlName="es_catalogo" class="form-control">
                  <option value="true">Si</option>
                  <option value="false">No</option>
                </select>
                <div
                  *ngIf="
                    formStock.controls['es_catalogo'].invalid &&
                    formStock.controls['es_catalogo'].dirty
                  "
                  class="alert alert-danger"
                  role="alert"
                >
                  <span
                    *ngIf="formStock.controls['es_catalogo'].errors.required"
                    >La selección es requerida
                  </span>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>Requiere refrigeración</label>
                <select
                  formControlName="requiere_refrigeracion"
                  class="form-control"
                >
                  <option value="true">Si</option>
                  <option value="false">No</option>
                </select>
                <div
                  *ngIf="
                    formStock.controls['requiere_refrigeracion'].invalid &&
                    formStock.controls['requiere_refrigeracion'].dirty
                  "
                  class="alert alert-danger"
                  role="alert"
                >
                  <span
                    *ngIf="
                      formStock.controls['requiere_refrigeracion'].errors
                        .required
                    "
                    >La selección es requerida
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Precio de costo</label>
                <input
                  type="number"
                  class="form-control"
                  name="precio_de_compra"
                  formControlName="precio_de_compra"
                />
                <div
                  *ngIf="
                    formStock.controls['precio_de_compra'].invalid &&
                    formStock.controls['precio_de_compra'].dirty
                  "
                  class="alert alert-danger"
                  role="alert"
                >
                  <span
                    *ngIf="
                      formStock.controls['precio_de_compra'].errors.required
                    "
                    >El <strong>precio de compra</strong> es requerido
                  </span>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>Precio de venta</label>
                <input
                  type="number"
                  class="form-control"
                  name="precio_de_venta"
                  formControlName="precio_de_venta"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Stock Actual</label>
                <input
                  type="number"
                  class="form-control"
                  name="stock_actual"
                  formControlName="stock_actual"
                />
                <div
                  *ngIf="
                    formStock.controls['stock_actual'].invalid &&
                    formStock.controls['stock_actual'].dirty
                  "
                  class="alert alert-danger"
                  role="alert"
                >
                  <span
                    *ngIf="formStock.controls['stock_actual'].errors.required"
                    >El <strong>Stock Actual</strong> es requerido
                  </span>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>Stock Mínimo</label>
                <input
                  type="number"
                  class="form-control"
                  name="stock_minimo"
                  formControlName="stock_minimo"
                />
                <div
                  *ngIf="
                    formStock.controls['stock_minimo'].invalid &&
                    formStock.controls['stock_minimo'].dirty
                  "
                  class="alert alert-danger"
                  role="alert"
                >
                  <span
                    *ngIf="formStock.controls['stock_minimo'].errors.required"
                    >El <strong>Stock Mínimo</strong> es requerido
                  </span>
                </div>
              </div>
            </div>

            <div class="col-md-4">
              <div class="form-group">
                <label>Stock Máximo</label>
                <input
                  type="number"
                  class="form-control"
                  name="stock_maximo"
                  formControlName="stock_maximo"
                />
                <div
                  *ngIf="
                    formStock.controls['stock_maximo'].invalid &&
                    formStock.controls['stock_maximo'].dirty
                  "
                  class="alert alert-danger"
                  role="alert"
                >
                  <span
                    *ngIf="formStock.controls['stock_maximo'].errors.required"
                    >El <strong>Stock Máximo</strong> es requerido
                  </span>
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label>Url Imagen</label>
                <input
                  type="text"
                  class="form-control"
                  name="url_imagen"
                  formControlName="url_imagen"
                />
              </div>
            </div>

            <div class="col-md-4" formGroupName="unidadMedidaID">
              <div class="form-group">
                <label>Unidad de medida</label>
                <select
                  (change)="seleccionarUnidad($event.target.value)"
                  class="form-control"
                  name="unidadMedidaID"
                  formControlName="id"
                >
                  <option
                    *ngFor="let unidad of unidadesMedida"
                    [value]="unidad.id"
                  >
                    {{ unidad.denominacion }}
                  </option>
                </select>
              </div>
            </div>

            <div class="col-md-4" formGroupName="categoria">
              <div class="form-group">
                <label>Categoría</label>
                <select
                  (change)="seleccionarPadre($event.target.value)"
                  class="form-control"
                  name="categoria"
                  formControlName="id"
                >
                  <option *ngFor="let padre of categorias" [value]="padre.id">
                    {{ padre.nombreCategoria }}
                  </option>
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="cerrar()"
        >
          Cerrar
        </button>

        <button
          *ngIf="esEditar"
          data-dismiss="modal"
          [disabled]="formStock.invalid"
          type="button"
          class="btn btn-info"
          (click)="update()"
        >
          Editar artículo
        </button>

        <button
          *ngIf="this.formStock && !esEditar"
          data-dismiss="modal"
          [disabled]="formStock.invalid"
          type="button"
          class="btn btn-info"
          (click)="agregar()"
        >
          Crear nuevo artículo
        </button>
      </div>
    </div>
  </div>
</div>
