.example-container {
    display: flex;
    flex-direction: column;
  }
  
  .full{
      width: 100%;
  }

  .make-center{
    justify-content: center;
  }

  .example-card {
    margin: auto;
    width: 50%;
    height: 100% auto;
    position: relative;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
  	padding: 2%;
  }

  .example-container > * {
    width: 100%;
  }
  
  .example-right-align {
    text-align: left;
  }
  
  input.example-right-align::-webkit-outer-spin-button,
  input.example-right-align::-webkit-inner-spin-button {
    display: none;
  }
  
  input.example-right-align {
    -moz-appearance: textfield;
  }

  .center{
      text-align: center;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }