<div *ngIf="show" class="parentDisable">
    <mat-spinner class="popup parentDisable" color="accent"></mat-spinner>
</div>
<mat-card class="example-card">
  <mat-card-header class="make-center">
    <!-- <mat-card-title><h1>Login</h1></mat-card-title> -->
    <img
      src="http://www.su-bitspilani.org/static/login.png"
      width="200px"
      height="200px"
    />
  </mat-card-header>
  <mat-card-content>
    <form
      class="example-form"
      [formGroup]="signupForm2"
      (ngSubmit)="PostData(signupForm2)"
    >
      <div class="example-container">
        <mat-form-field>
          <input
            matInput
            placeholder="First Name"
            formControlName="fname"
            name="fname"
            type="text"
            class="example-right-align"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Last Name"
            formControlName="lname"
            name="lname"
            type="text"
            class="example-right-align"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Email"
            formControlName="email"
            name="email"
            type="text"
            class="example-right-align"
          />
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Enter your password"
            name="password"
            formControlName="password"
            [type]="hide ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hide = !hide"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hide"
          >
            <mat-icon>{{ hide ? "visibility_off" : "visibility" }}</mat-icon>
          </button>
        </mat-form-field>

        <mat-form-field>
          <textarea
            matInput
            placeholder="Address"
            name="address"
            formControlName="address"
            type="text"
            class="example-right-align"
          ></textarea>
        </mat-form-field>

        <mat-form-field>
          <input
            matInput
            placeholder="Phone Number"
            formControlName="mobile"
            name="mobile"
            type="number"
            class="example-right-align"
          />
          <span matSuffix><i class="material-icons">ring_volume</i></span>
        </mat-form-field>

        <mat-card-actions>
          <button
            mat-raised-button
            color="primary"
            [disabled]="!signupForm2.valid"
            class="full"
          >
            Register
          </button>
        </mat-card-actions>

        <mat-card-actions>
          <a routerLink="/login" href="#">
            <button type="button" mat-raised-button color="accent" class="full">Login</button>
          </a>
        </mat-card-actions>
      </div>
    </form>
  </mat-card-content>
</mat-card>
<router-outlet></router-outlet>