<div class="container-fluid-sm " id="menu" id="fondo" style="color: white" >
  <div class="row">
    <div class="col-12 text-center">
      <h1 class="display-3">Administracion de Usuarios</h1>
    </div>
  </div>

  <table class="table table-striped text-center"  style="color: white">
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Email</th>
        <th scope="col">Nombre Completo</th>
        <th scope="col">Telefono</th>
        <th scope="col">Rol</th>
        <th scope="col">Datos del domicilio</th>
        <th scope="col">Acciones </th>
        
      </tr>
    </thead>
    <tbody style="font-size: 25px;">
      <tr *ngFor="let cliente of usuarios">
        <th scope="row"><i class="fas fa-user"></i></th>
        <td>{{ cliente.usuario.email}}</td>
        <td>{{ cliente.nombre }} {{ cliente.apellido }}</td>
        <td>{{ cliente.telefono }}</td>
        <td>{{ cliente.usuario.rol.nombreRol }}</td>
        <td>
          <button class="btn btn-dark" data-toggle="modal"
          data-target="#domicilio" (click)="mostrarDomicilio(cliente)" > 
          <i class="fas fa-home"> Ver Domicilio</i>
         
          </button>
        </td>
        <td>
          <button
            class="btn btn-warning mr-3"
            data-toggle="modal"
            data-target="#ModalPersona"
            (click)="preCargarDatosFormulario(cliente)"
          >
            <i class="fas fa-pencil-alt"> Editar Rol</i>
          </button>
          <button
            class="btn btn-danger mr-3"
            data-toggle="modal"
            (click)="eliminar(cliente.id)"
          >
            <i class="fas fa-trash"> Deshabilitar Usuario</i>
          </button>
          
        </td>
      </tr>
    </tbody>
  </table>
</div>

<app-mostrar-domicilio [domicilioSeleccionado]="domicilio" ></app-mostrar-domicilio>

<app-formulario-rol [clienteSeleccionado]="cliente"></app-formulario-rol>
