<div class="container " >
  <div class="row">
    <!-- <div class="col-12 text-center" >
      <h1 class="display-3">Administracion de Usuarios</h1>
      <form class="form-inline mt-4 ml-2 mb-4">
        <label style="font-size: 25px;" ><strong><i class="fas fa-search"> Buscar : </i></strong></label>
        <input 
          class="form-control mr-sm-2 ml-2"
          type="search"
          placeholder="Nombre/Apellido o Rol"
          aria-label="Search"
          [(ngModel)]="filtroBuscador"
          [ngModelOptions]="{ standalone: true }"
        />
      </form>
    </div>
    
  </div> -->
  <div class="col-12 text-center jumbotron" style="margin-bottom: 20px;">
    <h1 class="display-4">Administracion de Usuarios</h1>
    <div class="buscador">
      <i class="fa fa-user " style="font-size:35px;"></i>
      <p>Admin</p>
    </div>
  </div>

  <div class="row mb-4 ml-2">
    
    <!-- Buscador -->
    <div class="buscador">
      <form>
        <p style="font-size: 25px;"> Buscar : </p>

        <input class="form-control mr-sm-2" type="search" placeholder="Nombre/Apellido o Rol" aria-label="Search"
          [(ngModel)]="filtroBuscador" [ngModelOptions]="{ standalone: true }" />
      </form>
    </div>
  </div>

  <table class="table table-striped text-center" >
    <thead>
      <tr>
        <th scope="col"></th>
        <th scope="col">Email</th>
        <th scope="col">Nombre Completo</th>
        <th scope="col">Telefono</th>
        <th scope="col">Rol</th>
        <th scope="col">Datos del domicilio</th>
        <th scope="col">Acciones </th>
        
      </tr>
    </thead>
    <tbody >
      <tr *ngFor="let cliente of filtrar | paginate: {itemsPerPage: 6, currentPage: pageActual}">
        <th scope="row"><i class="fas fa-user"></i></th>
        <td>{{ cliente.usuario.email}}</td>
        <td>{{ cliente.nombre }} {{ cliente.apellido }}</td>
        <td>{{ cliente.telefono }}</td>
        <td>{{ cliente.usuario.rol.nombreRol }}</td>
        <td>
          <button class="btn btn-dark" data-toggle="modal"
          data-target="#domicilio" (click)="mostrarDomicilio(cliente)" > 
          <i class="fas fa-home"> </i>
         <p>Ver Domicilio</p>
          </button>
        </td>
        <td>
          <button
            class="btn btn-warning mr-3"
            data-toggle="modal"
            data-target="#ModalPersona"
            (click)="preCargarDatosFormulario(cliente)"
          >
            <i class="fas fa-pencil-alt"></i>
            <p> Editar Rol</p>
          </button>
          <!-- <button
            class="btn btn-danger mr-3"
            data-toggle="modal"
            (click)="eliminar(cliente.id)"
          >
            <i class="fas fa-trash"> Deshabilitar Usuario</i>
          </button>
           -->
        </td>
      </tr>
    </tbody>
  </table>
  <div id="paginador">
    <pagination-controls  (pageChange)="pageActual = $event" ></pagination-controls>
  </div>
  
</div>

<app-mostrar-domicilio [domicilioSeleccionado]="domicilio" ></app-mostrar-domicilio>

<app-formulario-rol [clienteSeleccionado]="cliente"></app-formulario-rol>


