body {
        font-family: Verdana;
        font-size: 14px;
      }

      hr {
        width: 70%;
      }

      li {
        list-style: none;
      }
      .header-text {
        margin-right: 3em;
      }
      .row {
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        display: flex;
      }
      .logo-img img {
        width: 25%;
      }

      table {
        width: 100%;
        margin-top: 2em;
      }

      table,
      td,
      th {
        border: 1px solid black;
        border-collapse: collapse;
      }

      .between {
        justify-content: space-between;
      }

      .around {
        justify-content: space-around;
      }

      .footer {
        margin-top: 3em;
        text-align: center;
      }

      .footer h3,
      h4,
      small {
        width: 100%;
        display: block;
      }
