
@font-face {
  font-family: Poppins-Regular;
  src: url("../../../../../../assets/fonts/poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: Poppins-Medium;
  src: url("../../../../../../assets/fonts/poppins/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins-Bold;
  src: url("../../../../../../assets/fonts/poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins-SemiBold;
  src: url("../../../../../../assets/fonts/poppins/Poppins-SemiBold.ttf");
}

#body {
  font-family: -apple-system, BlinkMacSystemFont, Raleway, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}



.contact100-form-title {
  background-image: url("../../../../../../assets/59880.jpg");
}

.alert-articulo {
  color: #721c24;
  background: #fd5d6a;
  border-color: #f5c6cb;
  margin-bottom: 5px;
}

/* .alert {
  background: #e7f8ff;
  margin-bottom: 5px;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: -apple-system, BlinkMacSystemFont, Raleway, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.buscador {
  float: right;
}
