<div class="container">
  <form class="form-inline mt-4">
    <input
      class="form-control mr-sm-2"
      type="search"
      placeholder="Nombre"
      aria-label="Search"
      [(ngModel)]="filtroBuscador"
      [ngModelOptions]="{ standalone: true }"
    />
  </form>

  <br />
  <div class="table-responsive">
    <table class="table table-hover">
      <thead class="thead-dark">
        <tr>
          <th scope="col" hidden>id</th>
          <th scope="col">Nombre</th>
          <th scope="col">Apellido</th>
          <th scope="col">Numero de teléfono</th>
          <th scope="col">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr
          *ngFor="
            let item of filtrar
              | paginate: { itemsPerPage: 5, currentPage: pageActual }
          "
        >
          <td hidden>{{ item.id }}</td>
          <td>{{ item.nombre }}</td>
          <td>{{ item.apellido }}</td>
          <td>{{ item.telefono }}</td>
          <td>
            <button class="btn btn-success" (click)="recuperarID(item)">
              Ver pedidos
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <pagination-controls (pageChange)="pageActual = $event"></pagination-controls>

  <div class="modal-dialog modal-xl" role="document" *ngIf="idCliente">
    <div class="modal-content">
      <div class="modal-header">
        <h3 class="modal-title">Pedidos en tiempo determinado</h3>
      </div>
      <form (ngSubmit)="onSubmit(form)" #form="ngForm" class="p-4">
        <div class="row">
          <div class="form-group col">
            <label>Desde</label>
            <input
              type="date"
              name="desdeday"
              min="2020-01-01"
              max="{{ this.fechaAhora.toJSON() | date: 'yyyy-MM-dd' }}"
              class="form-control"
              [(ngModel)]="DateDesde"
            />
          </div>
          <div class="form-group col">
            <label>Hasta</label>
            <input
              type="date"
              name="hastaday"
              min="2020-01-01"
              max="{{ this.fechaAhora.toJSON() | date: 'yyyy-MM-dd' }}"
              class="form-control"
              [(ngModel)]="DateHasta"
            />
          </div>
          <div class="form-group">
            <label class="text-center">Realizar consulta</label>

            <button
              type="submit"
              class="btn btn-success form-control"
              *ngIf="DateHasta != null && DateDesde != null; else elseTemplate"
            >
              Aceptar
            </button>
            <ng-template #elseTemplate>
              <button class="btn btn-secondary form-control" disabled>
                Aceptar
              </button>
            </ng-template>
          </div>
        </div>
      </form>

      <div class="table-responsive">
        <table
          class="table table-hover"
          *ngIf="pedidosRecuperadosDesdeHasta; else templatePedidos"
        >
          <thead class="thead-dark">
            <tr>
              <th scope="col">Fecha</th>
              <th scope="col">Total de pedido</th>
              <th scope="col">Artículos de pedido</th>
              <th scope="col">Tipo envío</th>
              <th scope="col">Número de pedido</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let pedido of this.pedidosRecuperadosDesdeHasta">
              <td>{{ pedido.fechaRealizacion | date }}</td>

              <td>
                {{ pedido.totalPedido }}
              </td>

              <td>
                <button
                  class="btn btn-primary dropdown-toggle"
                  type="button"
                  data-toggle="dropdown"
                  role="menu"
                >
                  Artículos <span class="caret"></span>
                </button>

                <ul class="dropdown-menu">
                  <div *ngFor="let item of pedido.lista_detallePedido">
                    <li
                      *ngIf="item.articuloInsumo; else articuloManufac"
                      class="ml-2 mr-2"
                    >
                      {{ item.articuloInsumo.denominacion }} |
                      {{ item.cantidad }}
                    </li>
                    <ng-template #articuloManufac>
                      <li class="ml-2 mr-2">
                        {{ item.articuloManufacturado.denominacion }} |
                        {{ item.cantidad }}
                      </li>
                    </ng-template>
                  </div>
                </ul>
              </td>

              <td *ngIf="pedido.tipo_Envio; else elseTemplate">
                Envío
              </td>
              <ng-template #elseTemplate>
                <td>En local</td>
              </ng-template>

              <td>{{ pedido.numero }}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <ng-template #templatePedidos>
        <h2>Este cliente no tiene pedidos</h2>
      </ng-template>
      <button class="btn btn-success" (click)="exportAsXLSX()" *ngIf="mostrar">
        <i class="fa fa-file-excel-o"></i>
        <p class="lead">Exportar a planilla Excel</p>
      </button>
    </div>
  </div>
</div>
