@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
.container {
  text-align: center;
}

.articulo-detalle {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}

.margin-top {
  margin-top: 2em;
}

.left-align {
  text-align: left;
}
.right-align {
  text-align: right;
}

h3 {
  font-family: "Sriracha", cursive;
}

h5 {
  font-family: "Sriracha", cursive;
}

h4 {
  font-family: "Staatliches", cursive;
}

.widthfull {
  width: 100%;
}
