<header class="header-component mb-5 animated fast fadeIn">
  <h1>Producto <small class="text-muted">detalles</small></h1>

  <button routerLink="/catalogo" class="btn btn-primary">
      <i class="fa fa-arrow-left"> Atrás</i>
  </button>
</header>

<div class="row animated fadeIn fast">
  <div class="col-lg-7">
      <img src="../../../../assets/pizza/pizza4.jpg" class="card-img-top" >
  </div>
  <p>{{ detalle.articuloManufacturado.rubroGeneral}}</p>

  <div class="col-lg-5 producto-detalle">
      <h5 class="nombre-producto">{{ detalle.articuloManufacturado.denominacion}}</h5>
      <h5>
          <i class="fas fa-dollar-sign"></i>
          <span class="precio-producto"> {{ detalle.articuloManufacturado.precioVenta }}</span>

      </h5>
      <p class="text-muted">{{ detalle.articuloManufacturado.tiempoEstimadoCocina }}</p>

  </div>
</div>
