@import url("https://fonts.googleapis.com/css2?family=Sriracha&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");
.container {
  text-align: center;
}

/* #body {
  font-family: -apple-system, BlinkMacSystemFont, Raleway, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
} */

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: -apple-system, BlinkMacSystemFont, Raleway, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.articulo-detalle {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: auto;
  margin-right: auto;
}

.margin-top {
  margin-top: 2em;
}

.left-align {
  text-align: left;
}
.right-align {
  text-align: right;
}

.widthfull {
  width: 100%;
}

.container-card {
  display: inline-block;
}

.card-img-top {
  height: 15em;
}

#fondo {
  background-image: url("https://i.pinimg.com/originals/c1/64/c6/c164c6ad28221f348063e514529ec38c.jpg");
  background-size: cover;

  background-position: right bottom;
  width: 100%;
  height: 100%;
}
