<div class="container">
  <button type="button" class="btn btn-primary margin-top">
    <b>Volver al catálogo</b>
  </button>
  <div class="card articulo-detalle" style="width: 30rem;">
    <img
      src="../../../../assets/articulos/ {{ articulo.url_Imagen }}"
      class="card-img-top"
      alt="Foto de {{ articulo.denominacion }}"
    />
    <div class="card-body">
      <h3 class="card-title">{{ articulo.denominacion }}</h3>

      <div class="row">
        <div class="col-lg-4 col-md-4 col-sm-4 left-align">
          <h4>${{ articulo.precio_de_venta }}</h4>
        </div>
        <div class="col-lg-8 col-md-8 col-sm-8 right-align">
          <button
            type="button"
            class="btn btn-warning"
            (click)="addToCart(articulo)"
          >
            <b>Agregar al carrito</b>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
