/* Styles */

body {
  font-family: -apple-system, BlinkMacSystemFont, Raleway, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.boton-ofertas{
  text-align: center;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: -apple-system, BlinkMacSystemFont, Raleway, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.dark-section h2,
p,
i {
  color: gray;
}



#logo-letra{
  max-height: 42px;
  margin-right: 18px;
  margin-top: 5px;
  display: inline-block;
}

#boton-ofertas{
  max-height: 42px;
  margin-right: 1px;
  margin-top: 4px;
  display: inline-block;
}

#avatar{
  max-height: 22px;
  margin-right: 5px;
  margin-top: -5px;
  display: inline-block;
}

#logo {
  max-height: 42px;
  margin-right: 18px;
  margin-top: -3px;
  display: inline-block;
}

.navbar {
  background-color: rgb(250, 250, 250);
}

@media (max-width: 991px) {
  #promo {
    padding: 20px;
  }
}


@media (max-width: 360px) {
  #promo .jumbotron {
    padding: 20px;
  }
}

#promo h1 {
  font-weight: 400;
}

#promo p {
  font-size: larger;
}

.site-section {
  text-align: center;
  padding: 50px 0;
}

.dark-section {
  background-color: #eff7fb;
}



.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}


.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: #3399f3;
  background-color: #ffff;
}

.btn-primary:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #345578;
  border-color: #314f6f;
}


.rounded-circle {
  border-radius: 50%!important;
  height: 3rem;
  width: 3rem;
}

.sidebar .nav-item .nav-link .img-profile, .topbar .nav-item .nav-link .img-profile {

  height: 3rem;
  width: 3rem;
}

img {
  border-style: none;
}

img, svg {
  vertical-align: middle;
}



