<nav class="navbar navbar-light navbar-expand-md sticky-top">
  <div class="container"><img id="logo" src="../../../../assets/assetsHome/img/foodLogo.png">

 <h5> <a class="navbar-brand text-success" id="logo-letra"  href="/">Fast <strong>Food</strong> </a></h5>

    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" role="presentation"><a class="nav-link active" href="/login">Iniciar</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="/register">Registrar</a></li>


        <!-- <li class="nav-item" role="presentation"><a class="nav-link" href="/user-profile">Perfil</a></li> -->
        <a class="btn btn-success " id="boton-ofertas" href="/ofertas" role="button">Ofertas</a>
        <li class="nav-item" role="presentation"><a class="nav-link" href="/catalogo">Catalogo</a></li>
        <a class="nav-link" id="avatar" href="/user-profile" ><img class="border rounded-circle "
          src="../../../../assets/avatars/avatar5.jpeg"  /></a>

      </ul>
    </div>
  </div>
</nav>
