<nav class="navbar navbar-light navbar-expand-md sticky-top">
  <div class="container"><img id="logo" src="../../../../assets/assetsHome/img/foodLogo.png">
    <a class="navbar-brand text-success" href="/">Fast <strong>Food</strong></a><button data-toggle="collapse"
      class="navbar-toggler" data-target="#navcol-1">
      <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="nav navbar-nav ml-auto">
        <li class="nav-item" role="presentation"><a class="nav-link active" href="/login">Iniciar</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="/register">Registrar</a></li>
        <li class="nav-item" role="presentation"><a class="nav-link" href="/user-profile">Perfil</a></li>
        <a class="btn btn-success" id="boton-ofertas" href="/ofertas" role="button">Ofertas</a>
        <li class="nav-item" role="presentation"><a class="nav-link" href="/catalogo">Catalogo</a></li>
      </ul>
    </div>
  </div>
</nav>
