<main class="page registration-page">
  <section class="clean-block clean-form dark">
    <div class="container col-lg-4 col-md-8 col-sm-12">
      <div class="block-heading">
        <h2 class="text-info">Registrate</h2>
        <p><button class="btn btn-primary btn-block" type="submit">Continuar con Google</button></p>
      </div>
      <form>
        <div class="form-group"><label for="name">Nombre</label><input class="form-control item" type="text" id="name">
        </div>
        <div class="form-group"><label for="password">Apellido</label><input class="form-control item" type="password"
            id="password"></div>
        <div class="form-group"><label for="email">Email</label><input class="form-control item" type="email"
            id="email"></div>
        <div class="form-group"><label for="name">Contraseña</label><input class="form-control item" type="text"
            id="name"></div>

        <button class="btn btn-primary btn-block" type="submit">Registrarme</button>

        <label for="email" style="margin-left: 450px;margin-top: 15px;">
          ¿Ya tenes cuenta?&nbsp;<a href="/login">&nbsp;Ingresar</a>&nbsp;</label>
      </form>
    </div>
  </section>
</main>
