<form #form="ngForm" (ngSubmit)="onSubmit(form)">
  <div class="row">
    <div class="form-group col mt-2">
      <label>Desde</label>
      <input
        [(ngModel)]="DateDesde"
        class="form-control"
        max="{{ this.fechaAhora.toJSON() | date: 'yyyy-MM-dd' }}"
        min="2020-01-01"
        name="desdeday"
        type="date"
      />
    </div>
    <div class="form-group col mt-2">
      <label>Hasta</label>
      <input
        [(ngModel)]="DateHasta"
        class="form-control"
        max="{{ this.fechaAhora.toJSON() | date: 'yyyy-MM-dd' }}"
        min="2020-01-01"
        name="hastaday"
        type="date"
      />
    </div>
    <div class="form-group mt-2 mr-3">
      <label class="text-center">Realizar consulta</label>

      <button
        *ngIf="DateHasta != null && DateDesde != null; else elseTemplate"
        class="btn btn-success form-control"
        type="submit"
      >
        Aceptar
      </button>
      <ng-template #elseTemplate>
        <button class="btn btn-secondary form-control" disabled>
          Aceptar
        </button>
      </ng-template>
    </div>
  </div>
</form>

<div *ngIf="mostrar; else elseRecaudacion" class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">
      Ventas totales: {{ pedidoParaExcel.totalPedido }}
      <br />
    </h1>
    <h2 *ngIf="mostrar">
      Monto de la fecha: {{ DateDesde }} hasta {{ DateHasta }}
    </h2>
    <p class="lead">
      El monto anterior refleja el valor total de las ventas sin tener en cuenta
      los costos.
    </p>
  </div>
  <button
    (click)="exportAsXLSX()"
    *ngIf="mostrar; else elseExcel"
    class="btn btn-success"
  >
    <i class="fa fa-file-excel-o"></i>
    <p class="lead">Exportar a planilla Excel</p>
  </button>
  <ng-template #elseExcel>
    <button class="btn btn-secondary" disabled>
      <i class="fa fa-file-excel-o"></i>
      <p class="lead">Exportar a planilla Excel</p>
    </button>
  </ng-template>
</div>

<ng-template #elseRecaudacion>
  <div class="jumbotron jumbotron-fluid">
    <div class="container">
      <h1 class="display-4">
        Ingrese una fecha correcta para ver las recaudaciones.
      </h1>
    </div>
  </div>
</ng-template>
