<section>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 mt-5">
        <div class="col-sm-10 col-sm-offset-1 text-center">
          <div class="four_zero_four_bg">
            <h1 class="text-center">404</h1>
          </div>
          <div class="contant_box_404 mb-5">
            <h1>Parece que estás perdido</h1>
            <h5>La página que buscás no está disponible!</h5>
            <a
              routerLink="/"
              class="link_404 btn btn-primary btn-lg active"
              role="button"
              aria-pressed="true"
              >Ir a Inicio</a
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
