<h3>Bebidas y Postres</h3>
<hr />
<div class="row" *ngIf="filtrarBebidas.length > 0; else noBebidas">
  <ng-container
    *ngFor="
      let articulo of filtrarBebidas
        | paginate: { itemsPerPage: 13, currentPage: pageActualArticulos }
    "
    class="articulo-container"
  >
    <ng-container *ngIf="articulo.es_catalogo">
      <div class="card-container col-lg-4 col-md-4">
        <div class="card" id="cartaProductos">
          <img
            class="card-img-top card-img-recomendado"
            src="{{ articulo.url_imagen }}"
          />
          <div class="card-body">
            <h4 class="card-text">
              {{ articulo.denominacion }}
            </h4>
            <strong
              ><h3>${{ articulo.precio_de_venta }}</h3></strong
            >
            <button
              type="button"
              class="btn btn-primary"
              data-toggle="modal"
              (click)="goToDetail(articulo.id, 1)"
            >
              <p>Ver más</p>
            </button>
          </div>
        </div>
      </div>
    </ng-container>
  </ng-container>
</div>
<ng-template #noBebidas>
  <div class="alert alert-success" role="alert">
    No se encontraron resultados con esas especificaciones
  </div>
</ng-template>
<div class="text-center mt-4">
  <pagination-controls
    (pageChange)="pageActualArticulos = $event"
  ></pagination-controls>
</div>
