.example-card {
  max-width: auto;
}

.example-header-image {
  background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
  background-size: cover;
}

.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
