<div class="modal fade bd-example-modal-lg" id="factura" data-backdrop="static" tabindex="-1" role="dialog" *ngIf="factura">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title"> <i class="fas fa-money"></i> Factura</h5>
           
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
          </button>
  
          
        </div>
        <div class="modal-body" >
          
            <div id="wrapper" class="justify-content-center d-flex">
                <div class="container col-lg-11 mt-4" id="facturaPDF">
                  <div class="row">
                    <div class="col-lg-6 justify-content-center d-flex p-5">
                      <h1>El Buen Gusto</h1>
                    </div>
                    <div class="col-lg-6 justify-content-end d-flex p-5">
                      <h5 class="mr-5">Tipo de factura: {{ factura.tipoFactura }}</h5>
                      <p>Número de factura: {{ factura.nroFactura }}</p>
                    </div>
                    
                  </div>
                  <div class="datos col-lg-12">
                    <div class="row cuadro justify-content-between">
                      <h5>
                        {{ factura.datosEmpresaID.domicilio.localidad.nombre }},
                        {{ factura.fecha }}
                      </h5>
                      <h5>
                        Comprador: {{ factura.pedidofacturado.clientePedido.nombre }}
                        {{ factura.pedidofacturado.clientePedido.apellido }}
                      </h5>
                      <h5 *ngIf="factura.pedidofacturado.tipo_Envio"> 
                        Tipo de Envio: Delivery 
                        
                      </h5>
                      <h5 *ngIf="!factura.pedidofacturado.tipo_Envio"> 
                        Tipo de Envio: Retira en el local
                      
                      </h5>
                      <h5 *ngIf="factura.pedidofacturado.tipo_Envio"> 
                      
                        Descuento:no posee descuento
                      </h5>
                      <h5 *ngIf="!factura.pedidofacturado.tipo_Envio"> 
                        
                        Descuento: 10%
                      </h5>
            
                                       
                    </div>
                  </div>
                  <div class="tabla col-lg-12">
                    <div class="row cuadro">
                      <table class="table table-striped table-bordered">
                        <thead>
                          <tr>
                            <th scope="col">Cantidad</th>
                            <th scope="col">Concepto</th>
                            <th scope="col">Precio unitario</th>
                            <th scope="col">Precio unitario</th>
                            <th scope="col">Subtotal</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let item of factura.pedidofacturado.lista_detallePedido">
                            <td>{{ item.cantidad }}</td>
                            <td>{{ item.articulo.denominacion}}</td>
                            <td>{{ item.articulo.precio_de_venta}}</td>
                            <td>{{ item.articulo.precio_de_venta}}</td>
                            <td>{{ item.subtotal }}</td>
                          </tr>
                        </tbody> 
                      </table>

                      <div>
                        <h5 > 
                        
                          Precio final: {{factura.precioTotal}}
                        </h5>   
                      </div>

                    </div>
                  </div>
                  
                  <div class="row col-lg-12 justify-content-end d-flex">
                    <b>
                      <p>
                        La alteración, falsificación o comercialización ilegal de este
                        documento está penado por la ley
                      </p>
                    </b>
                  </div>
                </div>
              </div>
              
              <div class="printFactura mt-3 mb-3 text-center">
                <button class="btn btn-success" (click)="cambiarEstado(factura)" > Facturar Pedido </button>
                
                <button class="btn btn-warning ml-4" (click)="crearFacturaPDF()">
                  Crear factura PDF
                </button>
              </div>
              </div>
       
      </div>
    </div>
  </div>
  