<div class="modal" id="factura" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title"> <i class="fas fa-home"></i>Datos del domicilio </h5>
           
          <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
          </button>
  
          
        </div>
        <div class="modal-body" >

            <!-- <table class="table table-striped table-dark mt-3">
                <thead class="thead-light">
                  <tr>
                    <th scope="col" hidden>ID</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Numero factura</th>
                    <th scope="col">Precio total</th>
                    <th scope="col">Tipo envio</th>
                    <th scope="col">Detalle</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let facturaItem of facturaCliente">
                    <td hidden>{{ facturaItem.id }}</td>
                    <td>{{ facturaItem.fecha }}</td>
                    <td>{{ facturaItem.nroFactura }}</td>
                    <td>{{ facturaItem.precioTotal }}</td>
                    <td *ngIf="facturaItem.pedidofacturado.tipo_Envio; else SinEnvio">
                      Delivery
                    </td>
                    <ng-template #SinEnvio>
                      <td>Local</td>
                    </ng-template>
                    <td>
                      <a [routerLink]="['/factura', facturaItem.id]" data-dismiss="modal"
                        >Ver factura</a
                      >
                    </td>
                  </tr>
                </tbody>
              </table> -->

              falta mostrar factura
  
        </div>
      </div>
    </div>
  </div>
  