<div class="text-center">
  <h3>Estado de pedidos</h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="row">Orden</th>
      <th>Cliente</th>
      <th>Plato</th>
      <th>Tiempo estimado</th>
      <th>Detalle Plato</th>
      <th>Estado</th>
      <th>Color</th>
    </tr>
  </thead>
  <tbody>
    <!-- primer pedido -->
    <tr>
      <th scope="row">1</th>
      <td>Cliente1</td>
      <td>Plato 1</td>
      <td>Retiro en local</td>
      <td>
        <a href="#">Ver receta...</a>
      </td>
      <td>
        <select name="estado">
          <option value="pendiente">Pendiente</option>
          <option value="enproceso" selected>En proceso</option>
          <option value="demorado">Demorado</option>
          <option value="listo">Listo</option>
        </select>
      </td>
      <td> COLOR AZUL </td>
    </tr>


    <!-- segundo pedido -->
    <tr>
      <th scope="row">2</th>
      <td>Cliente2</td>
      <td>Plato 2</td>
      <td>Delivery</td>
      <td>
        <a href="#">Ver receta...</a>
      </td>
      <td>
        <select name="estado">
          <option value="pendiente">Pendiente</option>
          <option value="enproceso">En proceso</option>
          <option value="demorado" selected>Demorado</option>
          <option value="listo">Listo</option>
        </select>
      </td>
      <td> COLOR ROJO </td>
    </tr>


    <!-- tercer pedido -->
    <tr>
      <th scope="row">3</th>
      <td>Cliente3</td>
      <td>Plato 2</td>
      <td>Delivery</td>
      <td>
        <a href="#">Ver receta...</a>
      </td>
      <td>
        <select name="estado">
          <option value="pendiente">Pendiente</option>
          <option value="enproceso">En proceso</option>
          <option value="demorado">Demorado</option>
          <option value="listo" selected>Listo</option>
        </select>
      </td>
      <td> COLOR VERDE </td>
    </tr>

    <!-- tercer pedido -->
    <tr>
      <th scope="row">4</th>
      <td>Cliente4</td>
      <td>Plato 2</td>
      <td>Retiro en local</td>
      <td>
        <a href="#">Ver receta...</a>
      </td>
      <td>
        <select name="estado">
          <option value="pendiente" selected>Pendiente</option>
          <option value="enproceso">En proceso</option>
          <option value="demorado">Demorado</option>
          <option value="listo">Listo</option>
        </select>
      </td>
      <td> COLOR AMARISHO </td>
    </tr>
  </tbody>
</table>