<div class="container">
  <h2>
    Detalle de pedido
  </h2>
  <div class="table-responsive">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">Nombre artículo</th>
          <th scope="col">Cantidad</th>
          <th scope="col">Categoría</th>
          <th scope="col">Precio de unidad</th>
          <th scope="col">Subtotal</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of pedidoDetalle.lista_detallePedido">
          <td *ngIf="item.articuloManufacturado">
            {{ item.articuloManufacturado.denominacion }}
          </td>
          <td *ngIf="item.articuloInsumo">
            {{ item.articuloInsumo.denominacion }}
          </td>
          <td>
            {{ item.cantidad }}
          </td>
          <td *ngIf="item.articuloManufacturado">
            {{ item.articuloManufacturado.rubro.denominacion }}
          </td>
          <td *ngIf="item.articuloInsumo">
            {{ item.articuloInsumo.categoria.nombreCategoria }}
          </td>
          <td *ngIf="item.articuloManufacturado">
            {{ item.articuloManufacturado.precio_de_venta }}
          </td>
          <td *ngIf="item.articuloInsumo">
            {{ item.articuloInsumo.precio_de_venta }}
          </td>
          <td>
            {{ item.subtotal }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
