<div class="modal" id="domicilio" data-backdrop="static" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
           <h5 class="modal-title"> <i class="fas fa-home"></i>Datos del domicilio </h5>

          <button type="button" class="close" data-dismiss="modal" aria-label="Close" >
            <span aria-hidden="true">&times;</span>
          </button>


        </div>
        <div class="modal-body" >

            <div class="container">
              <div class="row">
                <div class="col-12">
                  <h4 class="modal-title text-center">Domicilio </h4>
                  <hr>
                </div>

                <div class="col-6 text-center">
                  <h5 class="modal-title text-center">Calle: </h5>
                   <p>{{domicilioAMostrar.calle}}</p>
                </div>
                <div class="col-6 text-center">
                  <h5 class="modal-title text-center">Numero: </h5>
                  <p>{{domicilioAMostrar.numero}}</p>
                </div>
                <div class="col-6 text-center" *ngIf="domicilioAMostrar.piso != 0">
                  <h5 class="modal-title text-center">Piso: </h5>
                  <p>{{domicilioAMostrar.numero}}</p>
                </div>
                <div class="col-6 text-center" *ngIf="domicilioAMostrar.piso != 0">
                  <h5 class="modal-title text-center">numero de Departamento: </h5>
                  <p>{{domicilioAMostrar.nroDepartamento}}</p>

                </div>

              </div>
              <div class="row">
                <div class="class col-12 text-center">
                  <h5 class="modal-title text-center">Aclaracion: </h5>
                  <p> {{domicilioAMostrar.aclaracion}}</p>
                  <hr>
                </div>
              </div>

              <div class="row" *ngIf="domicilioAMostrar.localidad">
                <div class="col-4 text-center" >
                  <h5 class="modal-title text-center">Localidad: </h5>
                  <p>{{domicilioAMostrar.localidad.nombre}}</p>
                </div>
                <div class="col-4 text-center" >
                  <h5 class="modal-title text-center">Provincia: </h5>
                  <p>{{domicilioAMostrar.localidad.provincia.nombre}}</p>
                </div>
                <div class="col-4 text-center" >
                  <h5 class="modal-title text-center">Pais: </h5>
                  <p>{{domicilioAMostrar.localidad.provincia.pais.nombre}}</p>
                </div>


              </div>
            </div>



        </div>
      </div>
    </div>
  </div>

