<div
  aria-hidden="true"
  aria-labelledby="ModalStockLabel"
  class="modal fade"
  data-backdrop="static"
  id="ModalProductos"
  role="form"
  tabindex="-1"
>
  <div class="modal-dialog modal-xl" id="body" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="!esEditar" class="modal-title">
          <strong>Agregar nuevo plato</strong>
        </h5>
        <h5 *ngIf="esEditar" class="modal-title" id="modalEditar">
          <strong>Editar</strong>
        </h5>
        <button
          aria-label="Close"
          class="close"
          data-dismiss="modal"
          type="button"
          (click)="cerrar()"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body text-lg-center">
        <div class="container-fluid">
          <h4 *ngIf="!esEditar" class="modal-title">
            <strong>Ingresa los datos de tu plato</strong>
          </h4>
          <div class="row text-center">
            <p><strong>Datos básicos del plato</strong></p>
          </div>
          <form [formGroup]="formularioArticulo">
            <div class="row">
              <div class="col-md-4">
                <div class="form-group">
                  <label>Nombre</label>
                  <input
                    class="form-control"
                    formControlName="denominacion"
                    type="text"
                  />
                  <!-- formControlName="denominacion" -->
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Precio de venta</label>
                  <input
                    class="form-control"
                    formControlName="precio_de_venta"
                    type="number"
                  />
                  <!--  formControlName="precio_de_venta" -->
                </div>
              </div>
              <div class="col-md-4">
                <div class="form-group">
                  <label>Url de imagen</label>
                  <input
                    class="form-control"
                    formControlName="url_imagen"
                    type="text"
                  />
                  <!-- formControlName="url_imagen" -->
                </div>
              </div>
              <div class="col-md-6">
                <div class="form-group">
                  <label>Tiempo estimado de realización:</label>
                  <input
                    class="form-control"
                    formControlName="tiempo_estimado_manuf"
                    type="number"
                  />
                  <!--    formControlName="tiempo_estimado_manuf" -->
                </div>
              </div>
              <div class="col-md-6" formGroupName="rubro">
                <div class="form-group">
                  <label>Rubro:</label>
                  <!-- <input type="number" class="form-control" name="precioUnitario" id="precioUnitario" > -->
                  <!-- formControlName="precioUnitario" -->
                  <select
                    (change)="seleccionarRubro($event.target.value)"
                    class="custom-select"
                    formControlName="id"
                  >
                    <option
                      *ngFor="let rubro of rubroGeneral"
                      [value]="rubro.id"
                    >
                      {{ rubro.denominacion }}
                    </option>
                  </select>
                  <!--    formControlName="es_catalogo" -->
                </div>
              </div>
              <div class="float-left" *ngIf="!esEditar">
                <button (click)="agregarIngrediente()" class="btn btn-success">
                  Agregar ingrediente
                </button>
              </div>
              <div class="float-left" *ngIf="esEditar">
                <button (click)="agregarIngrediente()" class="btn btn-warning">
                  Mostrar ingredientes del plato y crear uno nuevo
                </button>
              </div>

              <!-- formArrayName="detalleFactura" *ngFor="let detalle of lista_detalleManufacturado.controls; let i = index " -->
              <div
                *ngFor="
                  let detalle of lista_detalleManufacturado.controls;
                  let i = index
                "
                class=""
                formArrayName="lista_detalleManufacturado"
              >
                <!-- [formGroupName]="i" -->
                <div [formGroupName]="i" class="row" id="ingrediente">
                  <div class="form-group col-md-3">
                    <label>Cantidad:</label>
                    <!-- <input type="number" class="form-control" name="precioUnitario" id="precioUnitario" > -->
                    <!-- formControlName="precioUnitario" -->
                    <input
                      class="form-control"
                      formControlName="cantidad"
                      type="number"
                    />
                  </div>

                  <div
                    class="form-group col-md-3"
                    formGroupName="unidadMedidaID"
                  >
                    <label> Unidad de medida:</label>

                    <select
                      (change)="
                        seleccionarUnidadDeMedida($event.target.value, i)
                      "
                      class="custom-select"
                      formControlName="id"
                    >
                      <option
                        *ngFor="let unidadMedida of unidadDeMedidaIngrediente"
                        [value]="unidadMedida.id"
                      >
                        {{ unidadMedida.denominacion }}
                      </option>
                    </select>
                  </div>

                  <div
                    class="form-group col-md-3"
                    formGroupName="articuloInsumoID"
                  >
                    <label>Nombre ingrediente:</label>
                    <select
                      (change)="seleccionarIngrediente($event.target.value, i)"
                      class="custom-select"
                      formControlName="id"
                    >
                      <option
                        *ngFor="let ingrediente of nombreIngrediente"
                        [value]="ingrediente.id"
                      >
                        {{ ingrediente.denominacion }}
                      </option>
                    </select>
                  </div>

                  <!-- (click)="removerDetalle(i)" -->
                  <a (click)="removerDetalle(i)" class="btn" id="trash">
                    <i class="fas fa-trash"></i
                  ></a>
                </div>
              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button
            (click)="cerrar()"
            class="btn btn-primary"
            data-dismiss="modal"
            type="button"
          >
            Cerrar
          </button>

          <button
            *ngIf="esEditar"
            data-dismiss="modal"
            [disabled]="formularioArticulo.invalid"
            class="btn btn-info"
            type="button"
            (click)="actualizar()"
          >
            Editar plato
          </button>

          <button
            (click)="crear()"
            *ngIf="!esEditar"
            [disabled]="formularioArticulo.invalid"
            data-dismiss="modal"
            class="btn btn-info"
            type="button"
          >
            Crear nuevo plato
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
