<div class="fondo" id="table">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 text-center">
        <h3>Administracion de Categoria</h3>
      </div>
    </div>

    <div class="row mb-4 ml-2">
      <button
        class="btn btn-success mr-3"
        data-target="#ModalCategoria"
        data-toggle="modal"
      >
        Crear nuevo categoria
      </button>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Denominacion</th>
            <th scope="col">Categoria padre</th>
            <th scope="col">Es catalogo</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let categoria of listaCategorias
                | paginate: { itemsPerPage: 5, currentPage: pageActual }
            "
          >
            <td>
              {{ categoria.nombreCategoria }}
            </td>
            <td *ngIf="categoria.padre; else elsePadretabla">
              {{ categoria.padre.nombreCategoria }}
            </td>
            <ng-template #elsePadretabla><td>No posee</td></ng-template>
            <td>{{ categoria.esCategoriaCatalogo }}</td>
            <td>
              <button
                (click)="editar(categoria)"
                class="btn btn-info mr-3"
                data-target="#ModalCategoria"
                data-toggle="modal"
              >
                <i class="fas fa-pencil-alt">Editar</i>
              </button>
              <button
                (click)="eliminar(categoria)"
                class="btn btn-danger mr-3"
                data-toggle="modal"
              >
                <i class="fas fa-trash">Eliminar</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <pagination-controls
      (pageChange)="pageActual = $event"
    ></pagination-controls>
  </div>
</div>

<div
  class="modal fade"
  data-backdrop="static"
  id="ModalCategoria"
  tabindex="-1"
  role="form"
  aria-labelledby="ModalStockLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document" id="body">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="!esEditar" class="modal-title" id="modalAgregar">
          <strong>Agregar nueva unidad</strong>
        </h5>
        <h5 *ngIf="esEditar" class="modal-title" id="modalEditar">
          <strong>Editar</strong>
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body text-lg-center">
        <form name="formStock" [formGroup]="formularioCategoria">
          <div class="row">
            <div class="col-12">
              <h5 class="modal-title" id="exampleModalLabel">
                Ingrese los datos de la categoria
              </h5>
            </div>

            <br />
            <br />

            <div class="col-6">
              <div class="form-group">
                <label class="col-form-label">Denominacion</label>
                <input
                  type="text"
                  class="form-control"
                  formControlName="nombreCategoria"
                />
              </div>

              <div class="form-group">
                <label class="form-check-label">Es catalogo</label>
                <select formControlName="esCategoriaCatalogo" class="form-control">
                  <option value="true">Si</option>
                  <option value="false">No</option>
                </select>

              </div>

              <div class="form-group" formGroupName="padre">
                <label>Categoria padre</label>
                <select
                  (change)="seleccionarCategoria($event.target.value)"
                  class="form-control"
                  id="padre"
                  name="padre"
                  formControlName="id"
                >
                  <option value="0"><b>Sin categoría padre</b></option>
                  <option
                    *ngFor="let padre of listaCategorias"
                    [value]="padre.id"
                    >{{ padre.nombreCategoria }}</option
                  >
                </select>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="cerrar()"
        >
          Close
        </button>

        <button
          *ngIf="esEditar"
          [disabled]="formularioCategoria.invalid"
          type="button"
          class="btn btn-info"
          data-dismiss="modal"
          (click)="actualizar()"
        >
          Editar categoria
        </button>

        <button
          *ngIf="!esEditar"
          [disabled]="formularioCategoria.invalid"
          type="button"
          class="btn btn-info"
          data-dismiss="modal"
          (click)="crear()"
        >
          Crear nueva categoria
        </button>
      </div>
    </div>
  </div>
</div>
