  <div class="container">
    <div class="image"><a href="../assets/pizza.jpg" target="_blank" data-lightbox="comidas"
      data-title="Pizza Calabresa" >
    <img class="img-fluid" src="../assets/pizza.jpg" alt="Avatar" class="image" style="width:100%">
  </a>
  </div>
    <div class="middle">
      <div class="text"> Ingredientes</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Harina 0000: 250gr</li>
        <li class="list-group-item">Queso Mozzarella: 200gr</li>
        <li class="list-group-item">Salsa de Tomate: 150gr</li>
        <li class="list-group-item">Salsa Fina: 25gr</li>
        <li class="list-group-item">Aceitunas Verdes: 100gr</li>
      </ul>
    </div>
  </div>


<!-- Lightbox -->
  <div class="image"><a href="../assets/pizza-3199081_640.jpg" target="_blank" data-lightbox="comidas"
    data-title="Pizza Calabresa" ><img class="img-fluid" src="../assets/pizza-3199081_640.jpg"></a>
   </div>



<!-- Background -->
   <div class="container">
    <img src="../assets/pizza.jpg" alt="Avatar" class="image" style="width:100%">
    <div class="middle">
      <div class="text"> Ingredientes</div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">Harina 0000: 250gr</li>
        <li class="list-group-item">Queso Mozzarella: 200gr</li>
        <li class="list-group-item">Salsa de Tomate: 150gr</li>
        <li class="list-group-item">Salsa Fina: 25gr</li>
        <li class="list-group-item">Aceitunas Verdes: 100gr</li>
      </ul>
    </div>
  </div>

<router-outlet></router-outlet>
