.set{
    flex: 1 1 auto;
  text-align: right;
}

.example-card {
    max-width: 50%;
    margin: auto;
    height: auto;
  }
  
  .make-center{
    justify-content: center;
    padding: 2%;
  }

  .example-container > * {
    width: 100%;
  }

  .example-card {
    
  	padding: 2%;
  }

  .example-header-image {
    background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
    background-size: cover;
  }