<div *ngIf="show" class="parentDisable">
    <mat-spinner class="popup parentDisable" color="primary"></mat-spinner>
</div>
<mat-toolbar color="primary">
    <span>Dashboard</span>
    <div fxShow="true" fxHide.lt-md="true" class="set">
      <!-- The following menu items will be hidden on both SM and XS screen sizes -->
      <button href="#" (click)="logout()" mat-button>Logout</button>
    </div>
  </mat-toolbar>

  <mat-card class="example-card">
      <mat-card-header class="make-center">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>{{fname}} {{lname}}</mat-card-title>
        <mat-card-subtitle>FullStack Developer</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content>
          <div class="example-container">
            <mat-form-field>
                <input matInput placeholder="First Name" value="{{fname}}" readonly type="text" class="example-right-align">
            </mat-form-field>
      
            <mat-form-field>
                <input matInput placeholder="Last Name" value="{{lname}}" readonly type="text" class="example-right-align">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Email" value="{{email}}" readonly type="text" class="example-right-align">
            </mat-form-field>
      
            <mat-form-field>
                <input matInput placeholder="Address" value="{{address}}" readonly type="text" class="example-right-align">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="Phone Number" value="{{mobile}}" readonly type="number" class="example-right-align">
              <span matSuffix><i class="material-icons">ring_volume</i></span>
              
            </mat-form-field>
          </div>
      </mat-card-content>
     
  </mat-card>
    
