
<div
class="modal fade modal-formulario-xl"
tabindex="-1"
role="dialog"
aria-labelledby="myExtraLargeModalLabel"
aria-hidden="true"
>
<div class="modal-dialog modal-xl modal-dialog-scrollable" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <p class="text-primary m-0 font-weight-bold">
            Datos del Usuario
          </p>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form
        #formUser="ngForm"
        (ngSubmit)="updateUsuario(formUser)"
        >
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="first_name"
                ><strong>Nombre</strong></label
              >
              <input
                class="form-control"
                type="text"
                placeholder="Ingrese su nombre"
                name="first_name"
                [(ngModel)]="cliente.nombre"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="last_name"
                ><strong>Apellido</strong></label
              >
              <input
                class="form-control"
                type="text"
                placeholder="Ingrese su apellido"
                name="last_name"
                [(ngModel)]="cliente.apellido"
              />
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="telefono"
                ><strong>Telefono</strong></label
              >
              <input
                class="form-control"
                type="number"
                placeholder="Ingrese su telefono"
                name="telefono"
                [(ngModel)]="cliente.telefono"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="email"><strong>Email</strong></label>
              <input
                class="form-control"
                type="email"
                placeholder="Ingrese su Email"
                name="email"
                [(ngModel)]="cliente.usuario.email"
              />
            </div>
          </div>
        </div>
         <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="calle"><strong>Calle</strong></label>
              <input
                class="form-control"
                type="text"
                placeholder="Ingrese su calle"
                name="calle"
                [(ngModel)]="cliente.domicilio.calle"
              />
            </div>
            <div class="form-group">
              <label for="aclaracion"
                ><strong>Aclaracion</strong></label
              >
              <input
                class="form-control"
                type="text"
                placeholder="Ingrese su aclaracion"
                name="text"
                [(ngModel)]="cliente.domicilio.aclaracion"
              />
            </div>
          </div>
        </div> 
        
       <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="city"
                ><strong>Numeracion</strong></label
              >
              <input
                class="form-control"
                type="number"
                placeholder="Ingrese su numeracion"
                name="city"
                [(ngModel)]="cliente.domicilio.numero"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="country">
                <strong>Localidad</strong>
              </label>
              <select 
                (change)="mostrarDatos($event.target.value)"
                name="localidad"
                class="form-control"
                [(ngModel)]="cliente.domicilio.localidad.id"
              >
                <option
                  *ngFor="let localidad of listaLocalidades"
                  [value]="localidad.id"
                  >{{ localidad.nombre }}</option
                >
              </select>
            </div>
          </div>
        </div> 
        
        <div class="form-row">
          <div class="col">
            <div class="form-group">
              <label for="piso"><strong>Piso</strong></label>
              <input
                class="form-control"
                type="number"
                placeholder="Ingrese el piso"
                name="piso"
                [(ngModel)]="cliente.domicilio.piso"
              />
            </div>
          </div>
          <div class="col">
            <div class="form-group">
              <label for="departamento">
                <strong>Numero Departamento</strong>
              </label>
              <input
                class="form-control"
                type="number"
                placeholder="Ingrese el departamento"
                name="departamento"
                [(ngModel)]="cliente.domicilio.nroDepartamento"
              />
            </div>
          </div>
        </div> 
        
        <div class="form-group">
          <button class="btn btn-primary btn-sm" type="submit">
            Guardar configuracion
          </button>
        </div>
        </form>
        
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          Cerrar
        </button>
      </div>
    </div>
  </div>
</div>
