<div class="container mt-5" id="body">
  <div
    class="col-12 text-center jumbotron justify-content-center d-flex"
    style="margin-bottom: 20px;"
  >
    <h1 class="display-5">Pedidos a facturar</h1>
    <div class="buscador">
      <i class="fas fa-cash-register" style="font-size: 35px;"></i>
      <p>Cajero</p>
    </div>
  </div>

  <div class="row mb-4 ml-2">
    <!-- Buscador -->
    <div class="buscador">
      <form>
        <p style="font-size: 25px;">Buscar :</p>

        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Nombre cliente | Estado"
          aria-label="Search"
          [(ngModel)]="filtroBuscador"
          [ngModelOptions]="{ standalone: true }"
        />
      </form>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-striped" *ngIf="filtrar">
      <thead>
        <tr>
          <th scope="row">Orden</th>
          <th scope="row">Cliente</th>

          <th scope="row">Fecha</th>
          <th scope="row">Envió</th>
          <th scope="row">Enviar</th>
          <th scope="row">Estado</th>
          <th scope="row">Factura</th>
        </tr>
      </thead>
      <!-- // fecha: Date;
  // formaPago: string;
  // tipoFactura: string;
  // nroFactura: number;
  // precioTotal: number;
  // pedidofacturado: Pedido;
  // detalleFactura: DetalleFactura[];
  // datosEmpresaID: DatosEmpresa; -->

      <tbody>
        <tr
          *ngFor="
            let factura of filtrar
              | paginate: { itemsPerPage: 12, currentPage: pageActual };
            let i = index
          "
        >
          <th scope="row">{{ factura.nroFactura }}</th>
          <td>
            {{ factura.pedidofacturado.clientePedido.nombre }}
            {{ factura.pedidofacturado.clientePedido.apellido }}
          </td>
          <td>{{ factura.pedidofacturado.fechaRealizacion | date }}</td>
          <td *ngIf="factura.pedidofacturado.tipo_Envio; else envioFalso">
            A domicilio
          </td>
          <ng-template #envioFalso>
            <td>En local</td>
          </ng-template>
          <td
            *ngIf="
              factura.pedidofacturado.tipo_Envio &&
                factura.pedidofacturado.estadoPedido.id !== 5;
              else sinEnvio
            "
          >
            <button class="btn btn-info" (click)="enviarADomicilio(factura, i)">
              Enviar a domicilio
            </button>
          </td>
          <ng-template #sinEnvio>
            <td>
              <button class="btn btn-secondary" disabled>No necesita</button>
            </td>
          </ng-template>
          <td>{{ factura.pedidofacturado.estadoPedido.nombreEstado }}</td>
          <td
            *ngIf="
              factura.pedidofacturado.tipo_Envio &&
                factura.pedidofacturado.estadoPedido.id === 7;
              else facturaNoDisponible
            "
          >
            <button class="btn btn-secondary" disabled>No disponible</button>
          </td>
          <ng-template #facturaNoDisponible>
            <td>
              <button
                class="btn btn-primary"
                data-toggle="modal"
                data-target="#factura"
                data-dismiss="modal"
                (click)="mostrarFactura(factura)"
              >
                Ver factura
              </button>
            </td>
          </ng-template>
        </tr>
      </tbody>
    </table>
  </div>

  <pagination-controls
    *ngIf="facturas.length > 0"
    (pageChange)="pageActual = $event"
  ></pagination-controls>
  <div class="text-center" *ngIf="facturas.length === 0">
    <div class="alert alert-success" role="alert">
      No hay nuevos pedidos a facturar
    </div>
  </div>
</div>

<app-modal-factura [facturaProp]="factura"></app-modal-factura>
