

.filtros, .platos, .pedido, .total {
    font-family: -apple-system, BlinkMacSystemFont, Raleway, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
    padding: 20px;
    border-style: groove;
    
}

h1,
h2,
h3,
h4,
h5,
h6,
p ,
a{
  font-family: -apple-system, BlinkMacSystemFont, Raleway, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.cartas-platos{
    padding: 20px;
    margin: 5px;
    width: 100%;
    display: flex;
}
