
<div class="container mt-5">
    <div class="text-center">
      <h1>Generar un nuevo pedido</h1>
    </div>
    <hr>
    <div class="row">
  
      <!-- inicio div filtros  -->
      <div class="col-3">
        <div class="filtros">
          <div class="text-center">
            <h3>Filtros</h3>
          </div>
          
  
          <label for=""> Filtros por categoria</label>
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Seleccionar categoria..</option>
            <option value="1">Pizza</option>
            <option value="2">Hamburguesa</option>
            <option value="3">Lomo</option>
          </select>
          <hr>
          <label for=""> Filtros por Precio</label>
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Seleccionar precio..</option>
            <option value="1">Mayor precio</option>
            <option value="2">Menor precio</option>
  
          </select>
  
          <hr>
          <label for=""> Filtros de Bebidas</label>
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Seleccionar Bebida..</option>
            <option value="1">Gaseosas</option>
            <option value="2">Vinos</option>
            <option value="2">Cervezas</option>
            <option value="2">Jugos</option>
          </select>
  
          <hr>
          <label for=""> Filtros de Postres</label>
          <select class="custom-select" id="inputGroupSelect01">
            <option selected>Seleccionar Postre..</option>
            <option value="1">Flan</option>
            <option value="2">Helado</option>
            <option value="2">Ensalada de frutas</option>
            <option value="2">Torta</option>
          </select>
  
          <hr>
          <button class="btn btn-primary btn-block">
            Confirmar Pedido
          </button>
        </div>
      </div>
      <!-- fin div filtros -->
      
      
      <!-- inicio seccion platos -->
        <!-- div general de platos -->
      <div class="col-9">
        <div class="platos">
          <!-- div titulo -->
          <div class="text-center">
            <h2>Platos</h2>
          </div>
          <hr>
          <!-- div contenedor de cartas -->
          <div class="row">
            <!-- carta 1 -->
            <div class="col-6 ">
             
              <div class="card mb-4 cartas-platos" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-8">
                    <h5 class="card-title text-center">Pizza Especial</h5>
                    <img src="https://lh3.googleusercontent.com/proxy/-gl9_IEmsJ2N8wYI4kroU2jMx9WnzGpa9UfrdkSDGZiP5b0P-cue20Xp9KMMQXMHidZpWKChhNztVK3Di8AQesf8KfC9ku2Bu4fw48Ef0iRZKtObURx3oahep3do6t_qGu7wL1hbJhm7qm9Hg5X23NtAOPNe7vPRqk-Pnw" class="card-img" alt="...">
                    
  
                    <button class="btn btn-success  mt-2">
                      Agregar a carro
                    </button>
                    
                  
                  </div>
                  <div class="col-md-4">
                    <div class="card-body">
                      
                      <p class="card-text"><strong>Precio: </strong> $250</p>
                      <hr>
                      <div >
                        <label for=""><strong>Cantidad: </strong></label>
                        <input type="number" style="width : 45px; heigth : 45px">
                      </div>
                      <hr>
                      <a  href="/">Detalles...</a>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- carta 2 -->
            <div class="col-6">
              
              <div class="card mb-4 cartas-platos" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-8">
                    <h5 class="card-title text-center">Hamburguesa Completa</h5>
                    <img src="https://img.freepik.com/foto-gratis/deliciosas-hamburguesas-parrilla_62847-16.jpg?size=626&ext=jpg" class="card-img" alt="...">
                    
  
                    <button class="btn btn-success  mt-2">
                      Agregar a carro
                    </button>
                    
                  
                  </div>
                  <div class="col-md-4">
                    <div class="card-body">
                      
                      <p class="card-text"><strong>Precio: </strong> $300</p>
                      <hr>
                      <div >
                        <label for=""><strong>Cantidad: </strong></label>
                        <input type="number" style="width : 45px; heigth : 45px">
                      </div>
                      <hr>
                      <a  href="/">Detalles...</a>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- carta 3 -->
  
            <div class="col-6">
              
              <div class="card mb-4 cartas-platos" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-8">
                    <h5 class="card-title text-center">Papas Fritas</h5>
                    <img src="https://img2.freepng.es/20180628/uph/kisspng-french-fries-home-fries-frying-potato-food-patate-5b35a4d0ea4c28.7767349115302422569597.jpg" class="card-img" alt="...">
                    
  
                    <button class="btn btn-success  mt-2">
                      Agregar a carro
                    </button>
                    
                  
                  </div>
                  <div class="col-md-4">
                    <div class="card-body">
                      
                      <p class="card-text"><strong>Precio: </strong> $150</p>
                      <hr>
                      <div >
                        <label for=""><strong>Cantidad: </strong></label>
                        <input type="number" style="width : 45px; heigth : 45px">
                      </div>
                      <hr>
                      <a  href="/">Detalles...</a>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
  
            <!-- carta 4 -->
            <div class="col-6">
              
              <div class="card mb-4 cartas-platos" style="max-width: 540px;">
                <div class="row no-gutters">
                  <div class="col-md-8">
                    <h5 class="card-title text-center">Empanadas de Carne</h5>
                    <img src="https://k33.kn3.net/taringa/1/B/6/4/5/C/agsmaldonado/ECB.jpg" class="card-img" alt="...">
                    
  
                    <button class="btn btn-success  mt-2">
                      Agregar a carro
                    </button>
                    
                  
                  </div>
                  <div class="col-md-4">
                    <div class="card-body">
                      
                      <p class="card-text"><strong>Precio: </strong> $300</p>
                      <hr>
                      <div >
                        <label for=""><strong>Cantidad: </strong></label>
                        <input type="number" style="width : 45px; heigth : 45px">
                      </div>
                      <hr>
                      <a  href="/">Detalles...</a>
                      
                    </div>
                  </div>
                </div>
              </div>
            </div>
            
          </div>
          
        </div>
  
        <!-- inicio detalle pedido -->
        <div class="pedido">
          <div class="text-center">
            <h2>Detalle pedido</h2>
          </div>
          <div class="row">
            <div class="col">
              <table class="table">
                <thead>
                  <tr>
                    <th scope="col">#Codigo</th>
                    <th scope="col">Plato</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col">Precio</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th scope="row">112412423</th>
                    <td>Pizza Especial</td>
                    <td>2</td>
                    <td>$500</td>
                  </tr>
                  <tr>
                    <th scope="row">241412412</th>
                    <td>Hamburguesa Completa</td>
                    <td>1</td>
                    <td>$300</td>
                  </tr>
                  <tr>
                    <th scope="row">242413123</th>
                    <td>Cocacola 2L</td>
                    <td>2</td>
                    <td>$300</td>
                  </tr>
                </tbody>
              </table>
  
              <div class="total text-center">
                <span><strong>Total:</strong> $1000</span>
              </div>
              
            </div>
          </div>
        </div>
        
        
  
      </div>
  
      <!-- fin div platos -->
    </div>
  </div>