<div class="container">

    <div class="row">
        <div class="col-12 text-center">
            <h1>Administracion de Usuarios</h1>
        </div>
    </div>

    <table class="table table-striped text-center" >
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Email</th>
                <th scope="col">Nombre</th>
                <th scope="col">Apellido</th>
                <th scope="col">Telefono</th>
                <th scope="col">Rol</th>
                <th scope="col">Acciones</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let c of cliente">
                <th scope="row"> <i class="fas fa-user"></i></th>
                <td>{{c.email}}</td>
                <td>{{c.nombre}}</td>
                <td>{{c.apellido}}</td>
                <td>{{c.telefono}}</td>
                <td>{{c.rol.nombreRol}}</td>
                <td>
                    <button class="btn btn-info mr-3" data-toggle="modal"
                        data-target="#ModalPersona" (click)="preCargarDatosFormulario(c)"><i class="fas fa-pencil-alt"></i></button>
                    <button class="btn btn-danger mr-3" data-toggle="modal"><i class="fas fa-trash"></i></button>
                </td>
            </tr>

        </tbody>
    </table>

</div>

<!-- Modal NUEVO -->
<!-- Modal EDITAR -->
<div class="modal fade" data-backdrop="static" id="ModalPersona" tabindex="-1" role="form" aria-labelledby="ModalEditarLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5  class="modal-title" id="exampleModalLabel">Editar</h5>
                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body text-lg-center">
                <form action="" [formGroup]=formularioPersona>
                    <div class="row">
                        <div class="col-12">
                            <h5 class="modal-title" id="exampleModalLabel">Datos Personales</h5>
                        </div>
                        
                        <div class="col-6">
                            <div class="form-group">
                                <label for="">Nombre</label>
                                <input  type="text" formControlName="nombre" class="form-control" />
                            </div>
                        </div>  
                        <div class="col-6">
                            <div class="form-group">
                                <label for="">Apellido</label>
                                <input  type="text" formControlName="apellido" class="form-control" />
                            </div>
                        </div>
                        <div class="col-6">     
                            <div class="form-group">
                                <label for="">Email</label>
                                <input  type="text" formControlName="email" class="form-control" />
                            </div>
                        </div> 
                        <div class="col-6">     
                            <div class="form-group">
                                <label for="">Telefono</label>
                                <input  type="text" formControlName="telefono" class="form-control" />
                            </div>
                        </div> 
                        <div class="col-6">     
                            <div class="form-group">
                                <label for="">Foto</label>
                                <input  type="text" formControlName="foto" class="form-control" />
                            </div>
                        </div> 
                        <div class="col-6">     
                            <div class="form-group" formGroupName=rol>
                                <label for="">Rol</label>
                                <select  (change)="seleccionarRol($event.target.value)" formControlName="nombreRol" class="form-control" id="rol" name="rol">
                                    
                                    <option *ngFor="let item of rol" [value]="item.id" >{{item.nombreRol}}</option>
                                    
                                </select>
                            </div>
                        </div>

                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-info" (click)="actualizarRol()" >Editar</button>
            </div>
        </div>
    </div>
</div>