<div class="fondo" id="body">
  <div class="container mt-5">
    <div class="row">
      <div class="col-12 text-center">
        <h1>Administracion de Unidades de Medida</h1>
      </div>
    </div>

    <div class="row mb-4 ml-2">
      <button
        class="btn btn-success mr-3"
        data-target="#ModalUnidad"
        data-toggle="modal"
      >
        Crear nueva unidad
      </button>
    </div>
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th scope="col">Abreviatura</th>
            <th scope="col">Denominacion</th>
            <th scope="col">paraRecetas</th>
            <th scope="col">equivalencia_KgOL</th>
            <th scope="col">Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr
            *ngFor="
              let unidadMedida of listaUnidadMedidas
                | paginate: { itemsPerPage: 5, currentPage: pageActual }
            "
          >
            <td>
              {{ unidadMedida.abreviatura }}
            </td>
            <td>{{ unidadMedida.denominacion }}</td>
            <td>
              {{ unidadMedida.paraRecetas }}
            </td>
            <td>{{ unidadMedida.equivalencia_KgOL }}</td>
            <td>
              <button
                (click)="editar(unidadMedida)"
                class="btn btn-info mr-3"
                data-target="#ModalUnidad"
                data-toggle="modal"
              >
                <i class="fas fa-pencil-alt">Editar</i>
              </button>
              <button
                (click)="eliminar(unidadMedida)"
                class="btn btn-danger mr-3"
                data-toggle="modal"
              >
                <i class="fas fa-trash">Eliminar</i>
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

    <pagination-controls
      (pageChange)="pageActual = $event"
    ></pagination-controls>
  </div>
</div>

<div
  class="modal fade"
  data-backdrop="static"
  id="ModalUnidad"
  tabindex="-1"
  role="form"
  aria-labelledby="ModalStockLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-lg" role="document" id="body">
    <div class="modal-content">
      <div class="modal-header">
        <h5 *ngIf="!esEditar" class="modal-title" id="modalAgregar">
          <strong>Agregar nueva unidad</strong>
        </h5>
        <h5 *ngIf="esEditar" class="modal-title" id="modalEditar">
          <strong>Editar</strong>
        </h5>
        <button
          type="button"
          class="close"
          data-dismiss="modal"
          aria-label="Close"
        >
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body text-lg-center">
        <form name="formStock" [formGroup]="formularioUnidadMedida">
          <div class="row">
            <div class="col-12">
              <h5 class="modal-title" id="exampleModalLabel">
                Ingrese los datos de la unidad
              </h5>
            </div>

            <br />
            <br />

            <div class="col-6">
              <div class="form-group">
                <label for="denominacion">Denominacion</label>
                <input
                  type="text"
                  class="form-control"
                  name="denominacion"
                  id="denominacion"
                  formControlName="denominacion"
                />
              </div>
              <div class="form-group">
                <label for="abreviatura">Abreviatura</label>
                <input
                  type="text"
                  class="form-control"
                  name="abreviatura"
                  id="abreviatura"
                  formControlName="abreviatura"
                />
              </div>

              <div class="form-group">
                <label for="paraRecetas">paraRecetas</label>
                <input
                  type="text"
                  class="form-control"
                  name="paraRecetas"
                  id="paraRecetas"
                  formControlName="paraRecetas"
                />
              </div>
              <div class="form-group">
                <label for="abreviatura">equivalencia_KgOL</label>
                <input
                  type="text"
                  class="form-control"
                  name="equivalencia_KgOL"
                  id="equivalencia_KgOL"
                  formControlName="equivalencia_KgOL"
                />
              </div>
              <!-- <div formGroupName="categoria">
                <div class="form-group">
                  <label for="">Categoria</label>
                  <select class="form-control" id="" name="">
                    <option *ngFor="let padre of categoriasPadre" value="0">{{
                      padre.nombreCategoria
                    }}</option>
                  </select>
                </div>
              </div> -->
            </div>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-primary"
          data-dismiss="modal"
          (click)="cerrar()"
        >
          Close
        </button>

        <button
          *ngIf="esEditar"
          [disabled]="formularioUnidadMedida.invalid"
          type="button"
          class="btn btn-info"
          (click)="actualizar()"
        >
          Editar articulo
        </button>

        <button
          *ngIf="!esEditar"
          [disabled]="formularioUnidadMedida.invalid"
          type="button"
          class="btn btn-info"
          (click)="crear()"
        >
          Crear nuevo articulo
        </button>
      </div>
    </div>
  </div>
</div>
