<div class="col-12 container mt-3" id="body">
  <div
    class="col-12 text-center jumbotron justify-content-center d-flex"
    style="margin-bottom: 20px;"
  >
    <h1 class="display-4">Estadísticas</h1>
    <div class="buscador">
      <i class="fa fa-user" style="font-size: 35px;"></i>
      <p>Admin</p>
    </div>
  </div>

  <div class="row mb-4 ml-2">
    <p class="lead mt-2">
      <strong
        >Ranking de comidas más pedidas en un período de tiempo
        determinado</strong
      >
    </p>
  </div>

  <button
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#RankingComida"
  >
    Ranking de comidas
  </button>

  <div
    class="modal fade bd-example-modal-xl"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myExtraLargeModalLabel"
    aria-hidden="true"
    id="RankingComida"
  >
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h3 class="modal-title">Ranking de comidas</h3>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form (ngSubmit)="onSubmit(form)" #form="ngForm" class="p-4">
          <div class="row">
            <div class="form-group col">
              <label>Desde</label>
              <input
                type="date"
                name="desdeday"
                min="2020-01-01"
                max="{{ this.fechaAhora.toJSON() | date: 'yyyy-MM-dd' }}"
                class="form-control"
                [(ngModel)]="DateDesde"
              />
            </div>
            <div class="form-group col">
              <label>Hasta</label>
              <input
                type="date"
                name="hastaday"
                min="2020-01-01"
                max="{{ this.fechaAhora.toJSON() | date: 'yyyy-MM-dd' }}"
                class="form-control"
                [(ngModel)]="DateHasta"
              />
            </div>
            <div class="form-group">
              <label class="text-center">Realizar consulta</label>

              <button
                type="submit"
                class="btn btn-success form-control"
                *ngIf="
                  DateHasta != null && DateDesde != null;
                  else elseTemplate
                "
              >
                Aceptar
              </button>
              <ng-template #elseTemplate>
                <button class="btn btn-secondary form-control" disabled>
                  Aceptar
                </button>
              </ng-template>
            </div>
          </div>
        </form>

        <div class="card" *ngIf="DateDesde && DateHasta">
          <canvas id="canvaFecha"></canvas>
          <div class="card-body">
            <h4>Desde: {{ DateDesde }} - Hasta: {{ DateHasta }}</h4>
            <button
              class="btn btn-success"
              (click)="exportAsXLSX()"
              *ngIf="mostrarExcel"
            >
              <i class="fa fa-file-excel-o"></i>
              <p class="lead">Exportar a planilla Excel</p>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <p class="lead mt-2">
    Ingresos (recaudaciones) por períodos de tiempo. Diario / Mensual.
  </p>

  <button
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#recaudacionesPorTiempo"
  >
    Recaudaciones por período de tiempo
  </button>

  <div
    class="modal fade bd-example-modal-xl"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myExtraLargeModalLabel"
    aria-hidden="true"
    id="recaudacionesPorTiempo"
  >
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content p-4">
        <div class="modal-header">
          <h3 class="modal-title">Recaudaciones por período de tiempo</h3>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <app-recaudacion-tiempo></app-recaudacion-tiempo>
      </div>
    </div>
  </div>

  <p class="lead mt-2">Artículos con bajo stock</p>

  <button
    type="button"
    class="btn btn-primary"
    data-toggle="modal"
    data-target="#ArticulosBajoStock"
  >
    Artículos con stock mínimo
  </button>

  <div
    class="modal fade bd-example-modal-xl"
    tabindex="-1"
    role="dialog"
    aria-labelledby="myExtraLargeModalLabel"
    aria-hidden="true"
    id="ArticulosBajoStock"
  >
    <div class="modal-dialog modal-xl" role="document">
      <div class="modal-content p-4">
        <div class="modal-header">
          <h3 class="modal-title">Artículos con bajo stock</h3>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <app-art-stock-minimo></app-art-stock-minimo>
      </div>
    </div>
  </div>

  <p class="lead mt-2">
    Cantidad de pedidos agrupados por cliente en un determinado período de
    tiempo.
  </p>

  <button
    type="button"
    class="btn btn-primary"
    [routerLink]="['/dashboard/admin/estadisticas/cliente']"
  >
    Pedidos por cliente por periodo de tiempo
  </button>
</div>
<br /><br /><br />
