<div class="page shopping-cart-page">
  <section class="clean-block clean-cart dark">
    <div class="container">
      <div class="block-heading">
        <h2 class="text-info">Factura</h2>
      </div>
      <div class="content">
        <div class="row no-gutters">
          <div class="col-md-12 col-lg-8">
            <div class="items">
              <div class="product">
                <div class="row justify-content-center align-items-center">
                  <div class="col-md-3">
                    <div class="product-image">
                      <img
                        class="img-fluid d-block mx-auto image"
                        src="../../../../assets/pizza/pizza1.jpg"
                      />
                    </div>
                  </div>
                  <div class="col-md-5 product-info">
                    <a class="product-name" href="#">Pizza Calabresa</a>
                    <div class="product-specs">
                      <div>
                        <span>Descripcion:&nbsp;</span
                        ><span class="value">descripcion</span>
                      </div>
                      <div>
                        <span>Descripcion:&nbsp;</span
                        ><span class="value">descripcion</span>
                      </div>
                      <div>
                        <span>Descripcion:&nbsp;</span
                        ><span class="value">descripcion</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 quantity">
                    <label class="d-none d-md-block" for="quantity"
                      >Cantidad</label
                    ><input
                      type="number"
                      id="number"
                      class="form-control quantity-input"
                      value="1"
                    />
                  </div>
                  <div class="col-6 col-md-2 price"><span>$350</span></div>
                </div>
              </div>
              <div class="product">
                <div class="row justify-content-center align-items-center">
                  <div class="col-md-3">
                    <div class="product-image">
                      <img
                        class="img-fluid d-block mx-auto image"
                        src="../../../../assets/hamburguesa/hamburguesa1.jpg"
                      />
                    </div>
                  </div>
                  <div class="col-md-5 product-info">
                    <a class="product-name" href="#">Hamburguesa</a>
                    <div class="product-specs">
                      <div>
                        <span>Descripcion:&nbsp;</span
                        ><span class="value">descripcion</span>
                      </div>
                      <div>
                        <span>Descripcion:&nbsp;</span
                        ><span class="value">descripcion</span>
                      </div>
                      <div>
                        <span>Descripcion:&nbsp;</span
                        ><span class="value">descripcion</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 quantity">
                    <label class="d-none d-md-block" for="quantity"
                      >Cantidad<br /></label
                    ><input
                      type="number"
                      id="number"
                      class="form-control quantity-input"
                      value="1"
                    />
                  </div>
                  <div class="col-6 col-md-2 price"><span>$220</span></div>
                </div>
              </div>
              <div class="product">
                <div class="row justify-content-center align-items-center">
                  <div class="col-md-3">
                    <div class="product-image">
                      <img
                        class="img-fluid d-block mx-auto image"
                        src="../../../../assets/panchos/pancho1.jpg"
                      />
                    </div>
                  </div>
                  <div class="col-md-5 product-info">
                    <a class="product-name" href="#">Hot Dog</a>
                    <div class="product-specs">
                      <div>
                        <span>Descripcion:&nbsp;</span
                        ><span class="value">descripcion</span>
                      </div>
                      <div>
                        <span>Descripcion:&nbsp;</span
                        ><span class="value">descripcion</span>
                      </div>
                      <div>
                        <span>Descripcion:&nbsp;</span
                        ><span class="value">descripcion</span>
                      </div>
                    </div>
                  </div>
                  <div class="col-6 col-md-2 quantity">
                    <label class="d-none d-md-block" for="quantity"
                      >Cantidad<br /></label
                    ><input
                      type="number"
                      id="number"
                      class="form-control quantity-input"
                      value="1"
                    />
                  </div>
                  <div class="col-6 col-md-2 price"><span>$120</span></div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-4">
            <div class="summary">
              <h3>Resumen</h3>
              <h4>
                <span class="text">Subtotal</span
                ><span class="price">$360</span>
              </h4>
              <h4>
                <span class="text">Descuento</span><span class="price">$0</span>
              </h4>
              <h4>
                <span class="text">Envio</span><span class="price">$0</span>
              </h4>
              <h4>
                <span class="text">Total</span><span class="price">$360</span>
              </h4>
              <button class="btn btn-primary btn-block btn-lg" type="button">
                Pagar en efectivo
              </button>
              <button
                class="btn btn-primary btn-block btn-lg"
                type="button"
                data-toggle="modal"
                data-target="#paymentModal"
              >
                Pagar con tarjeta
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Modal -->
  <div
    class="modal fade"
    id="paymentModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="paymentModal"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="paymentModal">Paypal</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Cerrar
          </button>
          <button type="button" class="btn btn-primary">Comprar</button>
        </div>
      </div>
    </div>
  </div>
</div>
