<div class="page shopping-cart-page">
  <section class="clean-block clean-cart dark">
    <div class="articulos col-lg-12">
      <h3 *ngIf="articulos.length === 0">
        El carrito está vacío
      </h3>
      <div class="container" *ngFor="let articulo of articulos">
        <div class="row">
          <div
            class="product justify-content-between align-items-center d-flex"
          >
            <div class="product-image">
              <img
                width="100px"
                class="img-fluid d-block mx-auto image"
                src="{{ articulo.url_imagen }}"
              />
            </div>
            <div class="product-info">
              <h5 class="product-name" href="#">{{ articulo.denominacion }}</h5>
              <div class="product-specs">
                <div>
                  <span><b>$</b>&nbsp;</span>
                  <span class="value">
                    <b> {{ articulo.precio_de_venta }}</b>
                  </span>
                </div>
              </div>
            </div>
            <div class="botones">
              <button
                type="button"
                class="btn btn-danger mr-3"
                data-toggle="modal"
                (click)="deleteArticulo(articulo.id)"
              >
                <svg
                  class="bi bi-dash-circle-fill"
                  width="1em"
                  height="1em"
                  viewBox="0 0 16 16"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4 7.5a.5.5 0 0 0 0 1h8a.5.5 0 0 0 0-1H4z"
                  />
                </svg>
              </button>
              <button
                type="button"
                class="btn btn-success"
                data-toggle="modal"
                (click)="
                  addArticulo(
                    articulo.id,
                    articulo.denominacion,
                    articulo.url_imagen,
                    articulo.precio_de_venta
                  )
                "
              >
                <svg
                  class="bi bi-plus-circle-fill"
                  width="1em"
                  height="1em"
                  viewBox="0 0 16 16"
                  fill="currentColor"
                  xmlns="http://www.w3.org/2000/svg"
                >
                  <path
                    fill-rule="evenodd"
                    d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"
                  />
                </svg>
              </button>
            </div>
          </div>
        </div>
      </div>
      <div class="center justify-content-center d-flex">
        <a href="/catalogo">
          <button type="button" class="btn btn-primary mr-3">
            <p>Seguir comprando</p>
          </button>
        </a>

        <h2 *ngIf="!this.checkearHorario">El local se encuentra cerrado</h2>

        <button
          *ngIf="!(articulos.length === 0) && this.checkearHorario"
          type="button"
          class="btn btn-success"
          data-toggle="modal"
          data-target="#paymentModal"
        >
          <p>Pagar</p>
        </button>
      </div>
    </div>
  </section>
  <!-- Modal -->
  <div
    class="modal fade"
    id="paymentModal"
    tabindex="-1"
    role="dialog"
    aria-labelledby="paymentModal"
    aria-hidden="true"
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="paymentModal">Confirmación</h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="container" *ngFor="let articulo of articulos">
            <div class="row justify-content-around d-flex product-pay">
              <div class="product-image">
                <img
                  width="100px"
                  class="img-fluid d-block mx-auto image"
                  src="{{ articulo.url_imagen }}"
                />
              </div>
              <div class="product-info">
                <h5 class="product-name">
                  {{ articulo.denominacion }}
                </h5>
                <div class="product-specs">
                  <div>
                    <span>$&nbsp;</span
                    ><span class="value">
                      {{ articulo.precio_de_venta }}
                    </span>
                  </div>
                </div>
              </div>
              <!-- <div class="botones">
                <button
                  type="button"
                  class="btn btn-danger mr-1"
                  data-toggle="modal"
                  (click)="deleteArticulo(articulo.id)"
                >
                  <svg
                    class="bi bi-dash-circle-fill"
                    width="1em"
                    height="1em"
                    viewBox="0 0 16 16"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4 7.5a.5.5 0 0 0 0 1h8a.5.5 0 0 0 0-1H4z"
                    />
                  </svg>
                </button>
                <button
                  type="button"
                  class="btn btn-success"
                  data-toggle="modal"
                  (click)="
                    addArticulo(
                      articulo.id,
                      articulo.denominacion,
                      articulo.url_imagen,
                      articulo.precio_de_venta
                    )
                  "
                >
                  <svg
                    class="bi bi-plus-circle-fill"
                    width="1em"
                    height="1em"
                    viewBox="0 0 16 16"
                    fill="currentColor"
                    xmlns="http://www.w3.org/2000/svg"
                  >
                    <path
                      fill-rule="evenodd"
                      d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"
                    />
                  </svg>
                </button>
              </div> -->
            </div>
          </div>
          <br />
          <h3>Total: {{ total }}</h3>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="envio"
              id="envio1"
              value="envioOption2"
              checked
            />
            <label class="form-check-label" for="exampleRadios1">
              Delivery
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="envio"
              id="envio2"
              value="envioOption2"
            />
            <label class="form-check-label" for="exampleRadios2">
              Retiro en local <small>10% de descuento</small>
            </label>
          </div>
          <hr />
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="pago"
              id="pago1"
              value="pagoOption1"
              checked
              (click)="setPago('0')"
            />
            <label class="form-check-label" for="exampleRadios1">
              <p>Efectivo</p>
            </label>
          </div>
          <div class="form-check">
            <input
              class="form-check-input"
              type="radio"
              name="pago"
              id="pago2"
              value="pagoOption2"
              (click)="setPago('1')"
            />
            <label class="form-check-label" for="exampleRadios2">
              <p>Otro medio de pago</p>
            </label>
          </div>
          <hr />
          <div class="metodoDePago" *ngIf="otroMedioDePago">
            <p><label for="cars">Elegir método de pago</label></p>

            <select name="pago" id="medioPago">
              <option value="debito">
                <p>Débito</p>
              </option>
              <option value="credito">
                <p>Crédito</p>
              </option>
              <option value="paypal">
                <p>Paypal</p>
              </option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            <p>Cerrar</p>
          </button>
          <button (click)="pagar()" type="button" class="btn btn-primary">
            <p>Comprar</p>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
