<div class="container mt-5" *ngIf="pedidos">
<h3>Estado de pedidos</h3>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="row">Orden</th>
      <td>Cliente</td>
      <td>Tiempo estimado</td>
      <td>Tipo de envío</td>
      <td>Fecha</td>
      <td>Estado</td>
    </tr> 
  </thead>
  <tbody *ngIf="filtrar" >
    <tr *ngFor="let item of filtrar">
      <th scope="row">1</th>
      <td>{{item.estadoPedido.nombreEstado}}</td>
      <td>Tiempo estimado</td>
      <td>Tipo de envío</td>
      <td>Fecha</td>
      <td>
        <select name="estado">
          <option value="enproceso"></option>
          <option value="pendiente" selected>Pendiente</option>
          <option value="listo">Listo</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>
</div>
