@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");

.container-catalogo {
  margin-top: 2em;
  text-align: center;
  margin-bottom: 2em;
}

.container-catalogo h3 {
  margin-top: 0.5em;
}

.recomendados {
  margin-top: 1em;
}

.card-img-recomendado {
  max-height: 120px;
}

.plato {
  font-family: "Chelsea Market", cursive;
  margin-left: 1em;
  box-shadow: 4px 4px 10px rgb(59, 59, 59);
}

.filtros {
  box-shadow: 4px 4px 10px rgb(59, 59, 59);

  margin-right: 1em;
  background-color: rgb(245, 245, 245);
  border-radius: 1.5em;
}

.filtro-header {
  margin-top: 1em;
  margin-bottom: 2em;
}

.filtro-cat {
  text-align: center;
}

.filtro-cat button {
  display: block;
  margin: auto;
  margin-bottom: 2em;
}

.articulo-container {
  text-align: center;
}

.float-right {
  float: right;
}

.align-left {
  text-align: left;
}
