@import url("https://fonts.googleapis.com/css2?family=Chelsea+Market&display=swap");

h1,
h2,
h3,
h4,
h5,
h6,
p,
li {
  font-family: -apple-system, BlinkMacSystemFont, Raleway, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol";
}

.container-catalogo {
  margin-top: 2em;
  text-align: center;
  margin-bottom: 2em;
}

.container-catalogo h3 {
  margin-top: 0.5em;
}

.articulo-container {
  text-align: center;
}

.recomendados {
  margin-top: 1em;
}

.card-img-recomendado {
  height: 120px;
}

@media (max-width: 770px) {
  .card-img-recomendado {
    height: auto;
  }
}

.plato {
  font-family: "Chelsea Market", cursive;
  margin-left: 1em;
  box-shadow: 4px 4px 10px rgb(59, 59, 59);
}

.filtros {
  box-shadow: 4px 4px 10px rgb(59, 59, 59);

  margin-right: 1em;
  background-color: rgb(245, 245, 245);
  border-radius: 1.5em;
}

.filtro-header {
  margin-top: 1em;
  margin-bottom: 2em;
}

.filtro-cat {
  text-align: center;
}

.filtro-cat button {
  display: block;
  margin: auto;
  margin-bottom: 2em;
}

.float-right {
  float: right;
}

.align-left {
  text-align: left;
}
/* 
#fondo {
  background-image: url("../../../../assets/59880.jpg");

  background-size: cover;
  width: 100%;
  height: 100%;
} */

#cartaProductos {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  box-shadow: 4px 4px 10px;
}
